﻿@model IEnumerable<FruitsWorld.Models.Account>

@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="page">
    <h1 class="page__title">Thông tin khách hàng</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Avt</th>
                <th>username</th>
                <th>Tên khách hàng</th>
                <th>Năm sinh</th>
                <th>SDT</th>
                <th>Địa chỉ</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="organisationnumber">
                        <img src="@item.avatar" style="width: 50px; height:50px">
                    </td>
                    <td class="organisationnumber">@item.username</td>
                    <td class="organisationnumber">@item.fullName</td>
                    <td class="organisationnumber">@item.birth</td>
                    <td class="organisationnumber">@item.sdt</td>
                    <td class="organisationnumber">@item.address</td>
                    @*<td class="organisationnumber">@item.id_Role</td>*@
                    <td class="organisationnumber">
                        <a class="a-success"  href="/Admin_EditAccount/admin_UpdateInformation/@item.id_Account">Chỉnh sửa</a> |
                        
                        <a class="a-cancel" href="#" onclick="showMess(@item.id_Account)" >Xoá</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    function showMess(id) {
        var option = confirm("Bạn có chắc muốn xóa Tài Khoản này?");
        if (option === true) {
            window.location.href = '/Admin_EditAccount/deleteAccount?id='+id;
        }

    }
</script>
