﻿@model FruitsWorld.Models.Account

@{
    ViewData["Title"] = "Thông tin khách hàng";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="page">
    <h1 class="page__title">Thông tin khách hàng</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Avt</th>
                <th>username</th>
                <th>fullName</th>
                <th>birth</th>
                <th>SDT</th>
                <th>Địa chỉ</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td class="organisationnumber">
                        <img src="@Model.avatar" style="width: 50px; height:50px" alt="ảnh">
                    </td>
                    <td class="organisationnumber">@Model.username</td>
                    <td class="organisationnumber">@Model.fullName</td>
                    <td class="organisationnumber">@Model.birth</td>
                    <td class="organisationnumber">@Model.sdt</td>
                    <td class="organisationnumber">@Model.address</td>
                    <td class="organisationnumber">
                        @Html.ActionLink("Chỉnh sửa", "account_UpdateInformation","account_UpdateInformation", new { id = @Model.id_Account }) |
                        @Html.ActionLink("Xoá", "deleteAccount", new { id = @Model.id_Account })
                    </td>
                </tr>
            
        </tbody>
    </table>

</div>