﻿@using FruitsWorld.Models
@using Fruits_World.Models.SonNN.DAO
@using System.Globalization
@model FruitsWorld.Models.Order

@{
    ViewData["Title"] = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AccountDAO accountDAO = new AccountDAO();
    OrderDAO orderDAO = new OrderDAO();
    ProductDAO productDAO = new ProductDAO();
    Account account = accountDAO.getAccountbyID(Model.id_Customer);
    Account sellerAccount = accountDAO.getAccountbyID(Model.id_Seller);
    List<OrderDetails> orderDetails = orderDAO.getAllOrderDetailsbyIDOrder(Model.id_Order);
    int? sum = 0;
    int sumAll = orderDAO.getPriceofOrder(Model.id_Order);
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

    string sumAllPrice = double.Parse(sumAll.ToString()).ToString("#,###", cul.NumberFormat);
}

<h1>Order_Details</h1>

<div class="Cart_product">

    <div class="Cart_product-title">
        <h2 class="Cart_title">Hóa đơn</h2>
    </div>

    <div class="cart_adress">
        <div class="info__address-line"></div>
        <div class="info__address-items">
            <div class="info__address-headding">
                <div class="info__logo"><i class="fa-solid fa-location-dot"></i></div>
                <div class="info__adress-cus">Địa chỉ nhận hàng</div>
            </div>
        </div>

        <div class="info__address">
            <div class="info__address-form">
                <div class="info__sdt">@account.fullName @account.sdt</div>
                <div class="info_form">@account.address</div>
            </div>
        </div>
    </div>

    <!-- end list -->
    <!-- Cart-product -->
    <div class="GioHang">
        <div class="Cart_product-headding">
           <a href="/Seller_Shop/Seller_Shop/@sellerAccount.id_Account"> <div class="check_box-sp">@sellerAccount.fullName <i class="fa-brands fa-rocketchat"></i></div></a>
        </div>
        @foreach (OrderDetails order in orderDetails)
        {
            Product product = productDAO.getProductbyId(order.id_Product);
            sum = 0;
            sum = sum + order.buy_Price * order.buy_Quantity;
            string sumPrice = double.Parse(sum.ToString()).ToString("#,###", cul.NumberFormat);
            string Price = double.Parse(order.buy_Price.ToString()).ToString("#,###", cul.NumberFormat);
            <div class="Cart_product-list1">
                <div class="check_box-sp">
                    <div class="check_info-item">
                        <div class="check_img">
                            <a href="#" class="check_avata">
                                <img src="@product.productImage" class="check_avata-product">
                            </a>
                        </div>
                        <div class="check_info">
                            <a href="#" class="check_info-title">@product.productName</a>
                        </div>
                    </div>
                </div>
                <div class="check_box-dg">
                    <div class="check_dongia">
                        <span class="giacu">100.000 vnd </span>
                        <span class="giamoi">@Price vnd </span>
                    </div>
                </div>
                <div class="check_box-sl">
                    <h1 class="soluong">@order.buy_Quantity</h1>
                </div>
                <div class="check_box-st">@sumPrice vnd</div>
            </div>
        }
        <div class="Cart_product-footer">
            <div class="check_box-sp">
            </div>
            <div class="check_box-sl">Tổng thanh toán :</div>
            <div class="check_box-st">@sumAllPrice vnd</div>
        </div>
        <!-- Phuong thuc thanh toan  -->
        <div class="ThanhToan">
            <div class="ThanhToan__item">
                <label for="" class="ThanhToan__nao">Phương thức thanh toán:</label>
                <br>
                <div class="check_radi">
                    @if (Model.id_PaymentMethod.Equals("1"))
                    {
                        <p>Thanh toán khi nhận hàng</p>
                    }
                    else
                    {
                        <p>Thanh toán qua ví điện tử</p>

                    }

                </div>
            </div>
            <!-- end thanh toan -->
            <!-- Phuong thuc thanh toan  -->
            <div class="ThanhToan__item-hoadons">

                <div class="ThanhToan__naos">
                    <div class="ThanhToan__text"> Mã đơn hàng</div>
                </div>

                <div class="ThanhToan__item-hoadon">
                    <div class="ThanhToan__hoadon">ID Hóa Đơn :</div>
                    <div class="ThanhToan__hoadon">@Model.id_Order</div>
                </div>
                <div class="ThanhToan__item-hoadon">
                    <div class="ThanhToan__hoadon">Thời gian đặt hàng :</div>
                    <div class="ThanhToan__hoadon">@Model.dateTime</div>
                </div>
                <div class="ThanhToan__item-hoadon">
                    <div class="ThanhToan__hoadon">Trạng thái :</div>
                    @if (Model.id_Status.Equals("1"))
                    {
                        <div class="ThanhToan__hoadon">Chờ xác nhận ....</div>
                    }
                    else if (Model.id_Status.Equals("2"))
                    {
                        <div class="ThanhToan__hoadon">Đang giao tới bạn</div>
                    }
                    else if (Model.id_Status.Equals("3"))
                    {
                        <div style="color:green;" class="ThanhToan__hoadon">Thành Công</div>
                    }
                    else
                    {
                        <div style="color:red;" class="ThanhToan__hoadon">Đã Hủy</div>

                    }
                </div>
            </div>
            <!-- end thanh toan -->
            <!-- cart-footer -->
            @*<div class="Cart_product-footers">
                <div class="Cart_produc-items">
                <div class="check_box-ttss">
                <a href="/success.html" class="btn">Mua lại</a>
                </div>

                </div>
                </div>*@
            <!-- end-footter -->
        </div>

    </div>
</div>
