﻿@model FruitsWorld.Models.Product
@using FruitsWorld.Models
@using Microsoft.AspNetCore.Http
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Thông tin sản phẩm";

    Fruits_World.Models.ThachBN.DAO.AccountDAO thachDao = new Fruits_World.Models.ThachBN.DAO.AccountDAO();
    Account account = thachDao.getShopbyIDProduct(Model.id_Product);

    Fruits_World.Models.DuyenPD.DAO.AccountDAO accountDAO = new Fruits_World.Models.DuyenPD.DAO.AccountDAO();
    Fruits_World.Models.DuyenPD.DAO.FeedbackDAO feedbackDAO = new Fruits_World.Models.DuyenPD.DAO.FeedbackDAO();
    Fruits_World.Models.DuyenPD.DAO.ProductDAO productDAO = new Fruits_World.Models.DuyenPD.DAO.ProductDAO();
    string idAccount = @HttpContextAccessor.HttpContext.Session.GetString("id");
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    string price = double.Parse(Model.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

}

<div class="home-product home-product-item-wrap">
    <div class="grid__row">
        <!-- San pham -->
        <!-- Start All Title Box -->
        <div class="all-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Thông Tin Sản Phẩm</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- End All Title Box -->
        <!-- Start Shop Detail  -->
        <div class="shop-detail-box-main">
            <div class="container">
                <div class="rows">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="card__img" src="@Model.productImage" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="single-product-details">
                            <h2 class="font-h3">@Model.productName</h2>
                            <div class="single-product-disscustion">
                                <div class="single-product-star">
                                    <p class="single-product-text">@feedbackDAO.GetMediumStarsByID(@Model.id_Product)</p>
                                    <div class="starts">
                                        @for (var i = 0; i < ViewBag.intactStars; i++)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        @for (var i = 0; i < ViewBag.haftStars; i++)
                                        {
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        }
                                        @for (var i = 0; i < ViewBag.loseStars; i++)
                                        {
                                            <i class="fa-solid fa-star" style="color:rgba(34, 33, 33, 0.2)"></i>
                                        }
                                    </div>
                                </div>
                                <div class="single-product-star1">
                                    <div class="single-product-sale">@feedbackDAO.GetQuantityFeedbackByID(@Model.id_Product)</div>
                                    <div class="single-product-saled">Đánh giá</div>

                                </div>
                                <div class="single-product-star2">
                                    <div class="single-product-sale">@productDAO.GetNumberOfProductsSold(@Model.id_Product)</div>
                                    <div class="single-product-saled">Ký đã bán</div>
                                </div>

                            </div>
                            <h4 class="font-h3">Giá: </h4>
                            <h5 class="font-price"><del class="font-h1" style="font-size:16px ; color: var(--text-color);">100.000 vnd   </del> @price vnd</h5>
                            <p class="available-stock"><span> Số lượng còn @Model.productQuantity kg trong kho/ <span>@productDAO.GetNumberOfProductsSold(@Model.id_Product) kg đã bán</span></span><p>
                                <h4 class="font-h3">Mô tả sản phẩm:</h4>
                                <div class="single-procduct-info">
                                    <p class="available-stock"> @Model.productDescription</p>
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="form-group quantity-box">


                                                    <form id="form-ngocson" asp-action="addtoCart" asp-controller="Cart_Manage">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetString("id")" asp-for="id_Account" class="form-control" />
                                                            <span asp-validation-for="id_Account" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="id_Product" class="control-label">Giá</label>
                                                            <input type="hidden" value="@Model.id_Product" asp-for="id_Product" class="form-control" />
                                                            <span asp-validation-for="id_Product" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="productQuantity" class="font-h3">Số lượng (KG)</label>
                                                            <input class="available-stock" id="quantityBuy" style="color: var(--primary-color); text-align: center;" value="1" class="form-control" min="1" max=@Model.productQuantity placeholder="Nhập số lượng(KG)" type="number" required onchange="checkQuantity(value,@Model.productQuantity.ToString())" asp-for="productQuantity" />
                                                            <span asp-validation-for="productQuantity" class="text-danger"></span>
                                                        </div>
                                                        <div class="price-box-bar">
                                                            <div class="cart-and-bay-btn">
                                                                <!--<a class="btn hvr-hover" data-fancybox-close="" href="#">Thêm Vào Giỏ Hàng </a>-->
                                                                    @if (idAccount != null && idAccount != "0" && @Model.productQuantity > 0)
                                                                    {
                                                                    <input style="width: 250px" class="btn-card btn_buy" type="submit" value="Thêm vào giỏ hàng">
                                                                    <a id="muangay" href="#" style="width: 250px" class="btn-card btn_buy">Mua ngay </a>
                                                                    }
                                                                    else if (@Model.productQuantity <= 0 && idAccount != null && idAccount != "0")
                                                                    {
                                                                    <h1 style="width: 250px" class="btn-card btn_buy">Hết Hàng</h1>

                                                                    }
                                                                    else
                                                                    {
                                                                    <a href="/Login/Login"><h1 style="width: 250px" class="btn-card btn_buy">Bạn cần đăng nhập</h1></a>
                                                                    }

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="app_saler">
            <div class="info__shop-item">
                <div class="info__shop">
                    <a href="/Seller_Shop/Seller_Shop/@account.id_Account" class="info__home-adress">
                        <img class="info_avata" src="@account.avatar" alt="">
                    </a>
                    <div class="info__home-shop">
                        <div class="info__adress">
                            <div class="info__adress-name">@account.fullName</div>
                        </div>
                        <div class="info__chat">
                            <button class="btn-card btn_adds"> <i class="fa-solid fa-message"></i> Chat ngay</button>
                            <a href="/Seller_Shop/Seller_Shop/@account.id_Account" class="btn-card btn_buys"> <i class="fa-solid fa-shop"></i> Xem shop</a>
                        </div>
                    </div>
                </div>
                <div class="info__product">
                    <div class="info__product-start">
                        <a class="info__product-pr">
                            <lable class="descriptions">Số đánh giá</lable>
                            <span class="value">@feedbackDAO.GetTotalFeedbackByID(@Model.id_Account)</span>
                        </a>
                        <a class="info__product-pr">
                            <lable class="descriptions">Sản phẩm</lable>
                            <span class="value">@productDAO.GetTotalProductsByIDAcc(@account.id_Account)</span>
                        </a>
                    </div>
                    <div class="info__product-start">
                        <a class="info__product-pr">
                            <lable class="descriptions">Thời gian phản hồi</lable>
                            <span class="value"> trong vài giờ</span>
                        </a>
                        <a class="info__product-pr">
                            <lable class="descriptions"></lable>
                            <span class="value"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="grid">
            <div class="grid__row">
                <div class="commnet__item">

                    <h3 class="commnet__title">Đánh giá sản phẩm</h3>

                    @if (ViewBag.listFeedbackEnd != null)
                    {
                        @foreach (var item in ViewBag.listFeedbackEnd)
                        {

                            <div class="commnet__item-comment">
                                <div class="commnet__item-avata">
                                    <img class="commnet__item-img" src="@accountDAO.GetAccountAvtByID(@item.id_Account)" alt="avt">
                                </div>
                                <div class="commnet__item-info">
                                    <p class="commnet__name">@accountDAO.GetAccountNameByID(@item.id_Account)</p>
                                    <div class="starts">
                                        @for (var i = 0; i < item.stars; i++)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        @for (var i = item.stars; i < 5; i++)
                                        {
                                            <i class="fa-solid fa-star" style="color:rgba(34, 33, 33, 0.2)"></i>
                                        }
                                    </div>
                                    @*<p class="commnet__size">Số ký: 5kg</p>*@
                                    <p class="commnet__comment">@item.content</p>
                                </div>
                            </div>

                        }
                        <ul class="pagination home-product__pagination">
                            @if (ViewBag.Page != 1 && ViewBag.Page > 0 && ViewBag.Page <= ViewBag.endPage)
                            {
                                var left = ViewBag.Page - 1;
                                <li class="pagination-item">
                                    <a href="/Product_Information/product_Information?id=@Model.id_Product&&page=@left" class="pagination-item__link">
                                        <i class="pagination-item__icon fas fa-angle-left">
                                        </i>
                                    </a>
                                </li>
                            }
                            @for (var i = ViewBag.Page - 2; i <= ViewBag.endPage && i <= ViewBag.Page + 2; i++)
                            {
                                @if (i < 1)
                                {
                                    i = 1;
                                }
                                @if (ViewBag.endPage != 1)
                                {

                                    @if (ViewBag.Page == i)
                                    {
                                        <li class="pagination-item pagination-item-active">
                                            <a style="background-color: #3770d863" class="pagination-item__link">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="pagination-item pagination-item-active">
                                            <a href="/Product_Information/product_Information?id=@Model.id_Product&&page=@i" class="pagination-item__link">@i</a>
                                        </li>
                                    }
                                }
                            }
                            @if (ViewBag.Page != ViewBag.endPage && ViewBag.Page < ViewBag.endPage && ViewBag.Page > 0)
                            {
                                var right = ViewBag.Page + 1;
                                <li class="pagination-item">
                                    <a href="/Product_Information/product_Information?id=@Model.id_Product&&page=@right" class="pagination-item__link">
                                        <i class="pagination-item__icon fas fa-angle-right">
                                        </i>
                                    </a>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <div class="no_comment">
                            <img class="no_comment-img" src="https://cdn.vietnambiz.vn/2019/10/16/digital-direct-mail-og-15711993156811189217342.png">
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    const input = document.querySelector('#quantityBuy');
    const a = document.querySelector('#muangay');
    var product = '@Model.id_Product';
    var proQuantityAll = parseInt('@Model.productQuantity')


    input.onchange = function(e){
        if(input.value > proQuantityAll){
            e.target.value = proQuantityAll;
    }
    }

    a.onclick = function(e){
       e.target.href  = `/Product_CheckOut/checkOut_MuaNgay/?idsp=${product}&&soluong=${input.value}`;
    }

</script>