﻿@model FruitsWorld.Models.Account

@{
    ViewData["Title"] = "Thông tin khách hàng";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
}

<h1>Thông tin khách hàng</h1>
<img style="width:50px;height:50px;border-radius:50%;" src="@Model.avatar" />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ và tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fullName)
        </dd>
        <dt class="col-sm-2">
            Năm sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.birth)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sdt)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>

