﻿@model FruitsWorld.Models.Account
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/Info_Layout.cshtml";
}


<h4 style="color:red;">@ViewBag.loiquantity</h4>
<h4 style="color:red;">@ViewBag.loipay</h4>
<div class="grid__column-10">
    <div class="container">
        <main role="main" class="pb-3">

            <h1>Thông tin tài khoản</h1>
            <div class="info-account">
                <h2>@ViewBag.Mess</h2>

                <a href="/Account_updateInformation/changeAvatar"> <img style="width:50px;height:50px;border-radius:50%;" src="@HttpContextAccessor.HttpContext.Session.GetString("avatar")" /> Nhấn vào để thay đổi avatar  </a>
                <table class="table table-sm">
                    <tr>
                        <th scope="row" class="col-sm-2">
                            Tên tài khoản
                        </th>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.username)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-2">
                            Họ và tên
                        </th>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.fullName)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-2">
                            Năm sinh
                        </th>
                        <td class="col-sm-10">
                            @if (Model.birth == 0)
                            {
                                <p style="color:red">Bạn chưa điền thông tin này.</p>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.birth)
                            }
                        </td>
                    </tr>

                    <tr>
                    <tr>
                        <th scope="row" class="col-sm-2">
                            Số điện thoại
                        </th>
                        <td class="col-sm-10">
                                @if (Model.sdt.Equals("0"))
                                {
                                <p style="color:red">Bạn chưa điền thông tin này.</p>
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.sdt)
                                }
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <th scope="row" class="col-sm-2">
                            Địa chỉ
                        </th>
                        <td class="col-sm-10">
                                    @if (Model.address.Equals("0"))
                                    {
                                <p style="color:red">Bạn chưa điền thông tin này.</p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.address)
                                    }
                        </td>
                    </tr>

                    <tr>
                        <th scope="row" class="col-sm-2">
                            Tiền
                        </th>
                        <td class="col-sm-10">
                                    @Html.DisplayFor(model => model.money) VNĐ

                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-sm-2">
                            Vai trò
                        </th>
                        <td class="col-sm-10">
                                    @if (Model.id_Role == 3)
                                    {
                                <p>Bạn là khách hàng</p>
                                    }
                                    else if (Model.id_Role == 2)
                                    {
                                <p>Bạn đang đăng kí kinh doanh tại shop, bạn đã gửi yêu cầu đến admin để bán hàng, vui lòng chờ admin duyệt</p>
                                    }
                                    else if (Model.id_Role == 1)
                                    {
                                <p>Bạn là người kinh doanh tại shop</p>

                                    }
                                    else if (Model.id_Role == 0)
                                    {
                                <p>Bạn là Admin</p>

                                    }

                        </td>
                    </tr>
                </table>
                @if (Model.id_Role == 3)
                {

                    <div class="form-groups">
                        @Html.ActionLink("Đăng kí bán hàng", "registedtoSeller","registedtoSeller", new { id = Model.id_Account , role = 2}, new{@class="btn_return1"})
                    </div>


                }
            </div>
        </main>
    </div>
</div>
