﻿@model IEnumerable<Fruits_World.Models.OrderDetails>

@{
    ViewData["Title"] = "Thông tin sản phẩm";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

    Fruits_World.Models.DuyenPD.DAO.ProductDAO productDAO = new Fruits_World.Models.DuyenPD.DAO.ProductDAO();
}

<div class="page">
    <h1 class="page__title">Thông tin chi tiết 1 bill</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>ID hoá đơn</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng mua</th>
                <th>Giá mua</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class="organisationnumber">@item.id_Order</td>
                    <td class="organisationnumber">@productDAO.GetProductNameByID(@item.id_Product)</td>
                    <td class="organisationnumber">@item.buy_Quantity</td>
                    <td class="organisationnumber">@item.buy_Price</td>
                    <td class="organisationnumber">
                        <a href="/Product_Information/product_Information/@item.id_Product">Xem sản phẩm</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>