﻿@{
    ViewData["Title"] = "Danh sách đăng ký bán hàng";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="page">
    <h1 class="page__title">Thông tin acc đăng ký bán hàng</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Tài khoản</th>
                <th>Họ và tên</th>
                <th>Năm sinh</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Seller)
            {
                <tr>
                    <td class="organisationnumber">@item.username</td>
                    <td class="organisationnumber">@item.fullName</td>
                    <td class="organisationnumber">@item.birth</td>
                    <td class="organisationnumber">@item.sdt</td>
                    <td class="organisationnumber">@item.address</td>
                    <td class="organisationnumber">
                        <a class="a-success" onclick="accept(@item.id_Account,'1')" href="#">Chấp nhận</a>
                        <a class="a-cancel"  onclick="cancel(@item.id_Account,'3')" href="#">Từ chối</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function accept(id, role) {
        var option = confirm("Bạn có chắc muốn chấp nhận cho tài khoản này bán sản phẩm?");
        if (option === true) {
            window.location.href = '/Admin_ConfirmSeller/updateRole?id='+id+'&&role='+role;
        }
    }
    function cancel(id, role) {
        var option = confirm("Bạn có chắc muốn từ chối cho tài khoản này bán sản phẩm?");
        if (option === true) {
            window.location.href = '/Admin_ConfirmSeller/updateRole?id='+id+'&&role='+role;
        }
    }
</script>
