﻿@using FruitsWorld.Models
@using Fruits_World.Models.SonNN.DAO
@model IEnumerable<FruitsWorld.Models.Order>
@using Microsoft.AspNetCore.Http
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Hóa đơn - đang giao";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
    ProductDAO productDAO = new ProductDAO();
    OrderDAO orderDAO = new OrderDAO();
    AccountDAO accountDAO = new AccountDAO();
    List<Order> listIdOrder = orderDAO.getOrderIDforSeller(@HttpContextAccessor.HttpContext.Session.GetString("id"), 2);
    List<OrderDetails> listProduct = null;
    int? sum = 0;
    int? sumAll = 0;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); 

}
<div class="status">
    <div class="status__item">
        <div class="status__bill-head">
            <div class="status__bill-order">
                <span class="status__bill-text2"><i class="fa-solid fa-address-book"></i></span>
                <span class="status__bill-text">Đơn mua</span>
            </div>
            <div class="status__bill-history">
                <a href="/Seller_OrderManage/Seller_orderProductReceived"><span class="status__bill-text3">Xem lịch sử bán hàng</span> </a>
                <span class="status__bill-text2"><i class="fa-solid fa-angle-right"></i></span>
            </div>
        </div>
        <div class="status__logo">
            <div class="status__logo-accept">
                <a href="/Seller_OrderManage/Seller_orderWaitforConfirm"><div class="status__logo-icone"><i class="fa-solid fa-envelope-open-text"></i></div></a>
                <div class="status__logo-text">Chờ xác nhận</div>
            </div>
            <div class="status__logo-accept">
                <a href="/Seller_OrderManage/Seller_orderDelivering"><div class="status__logo-iconev"><i class="fa-solid fa-box"></i></div></a>
                <div class="status__logo-textv">Đang giao</div>
            </div>
            <div class="status__logo-accept">
                <a href="/Seller_OrderManage/Seller_orderProductReceived"><div class="status__logo-icon"><i class="fa-solid fa-truck"></i></div></a>
                <div class="status__logo-text">Đã bán</div>
            </div>
            <div class="status__logo-accept">
               <a href="/Seller_OrderManage/Seller_orderCancelled"> <div class="status__logo-icons"><i class="fa-solid fa-bell-slash"></i></div> </a>
                <div class="status__logo-text">Đã hủy</div>
            </div>
        </div>
    </div>
    
</div>
<h1>@ViewBag.PaySuccess</h1>
@if (listIdOrder.Count == 0)
{
    <div class="Cart_product-headding1">
        <div class="check_box-sp">Đơn hàng trống!</div>
    </div>
}
else
{
    <div class="Cart_product">

        <!-- end list -->
        <!-- Cart-product -->
    <div class="GioHang">
            @foreach (Order a in listIdOrder)
            {
                Account account = accountDAO.getAccountbyID(a.id_Customer);
                <div class="Cart_product-headding">
                    <lable class="check_box">

                    </lable>

                     <a href="/Account_Information/account_Information/@account.id_Account"><div class="check_box-sp">@account.fullName <i class="fa-brands fa-rocketchat"></i></div></a>
                </div>
                                sumAll = orderDAO.getPriceofOrder(@a.id_Order);
                string sumAllPrice = double.Parse(sumAll.ToString()).ToString("#,###", cul.NumberFormat);
                listProduct = orderDAO.getAllOrderDetailsbyIDOrder(@a.id_Order);
                <div class="list-item">
                    @foreach (OrderDetails order in listProduct)
                    {
                        Product product = productDAO.getProductbyId(order.id_Product);
                        sum = 0;
                        sum = sum + @order.buy_Price * @order.buy_Quantity;
                        string sumPrice = double.Parse(sum.ToString()).ToString("#,###", cul.NumberFormat);
                        string Price = double.Parse(product.productPrice.ToString()).ToString("#,###", cul.NumberFormat);
                        <div class="Cart_product-list1">
                            <lable class="check_box">

                            </lable>

                            <div class="check_box-sp">
                                <div class="check_info-item">
                                    <div class="check_img">
                                        <a href="/Seller_OrderManage/Seller_OrderDetails/@order.id_Order" class="check_avata">
                                            <img src="@product.productImage" class="check_avata-product">
                                        </a>
                                    </div>
                                    <div class="check_info">
                                        <a href="/Seller_OrderManage/Seller_OrderDetails/@order.id_Order" class="check_info-title">@product.productName</a>
                                    </div>
                                </div>
                            </div>
                            <div class="check_box-dg">
                                <div class="check_dongia">
                                    <span class="giacu">100.000 vnd </span>
                                    <span class="giamoi">@Price </span>
                                </div>
                            </div>
                            <div class="check_box-sl">
                                <ul>
                                    <li>
                                        <div class="check_box-sl">
                                            <h1 class="soluong">@order.buy_Quantity</h1>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="check_box-st">@sumPrice vnd</div>
                            <div class="check_box-tt">
                            </div>
                        </div>

                    }
                </div>
                <div class="Cart_product-footer">
                    

                    <div class="check_box-sp">
                    </div>
                    <div class="check_box-sl">Tổng thanh toán :</div>
                    <div class="check_box-st">@sumAllPrice vnd</div>
                </div>

            }
            <!-- cart-footer -->
            <!-- end-footter -->
    </div>

    </div>
}






