﻿@using Fruits_World.Models.DuyenPD.DAO
@using System.Globalization
@{
    ViewData["Title"] = "Tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

@{
    var dao = new ProductDAO();
}


@if (ViewBag.ListAcc != null)
{
    <div class="search__name">
        <div class="search__name-shop">Shop Liên quan đến</div>
        <div class="search__name-shop1"> "@ViewBag.Mess"</div>
    </div>
    @foreach (var item in ViewBag.ListAcc)
    {

        <!-- infor shop -->
        <div class="info__shop">
            <div class="info__shop-body">
                <div class="info__shop-item">
                    <a href="/Seller_Shop/Seller_Shop/@item.id_Account" class="info__shop-logo">
                        <img src="@item.avatar" alt="" class="info__shop-avata">
                        <div class="info__shop-address">
                            <div class="info__shop-name">
                                <div class="info__shop-info">@item.fullName</div>
                            </div>
                            <div class="info__shop-web">
                                <div class="info__shop-product3">SDT: @item.sdt</div>
                            </div>
                            <div class="info__shop-web">
                                <div class="info__shop-product3">@item.address</div>
                            </div>
                        </div>
                    </a>
                    <div class="info__shop-sub">
                        <div class="info__shop-product">
                            <div class="info__shop-product1"><i class="fa-solid fa-shirt"></i> @dao.GetTotalProductsByIDAcc(@item.id_Account)</div>
                            <div class="info__shop-product2">Sản phẩm</div>
                        </div>
                        <div class="info__shop-product">
                            <div class="info__shop-product1"><i class="fa-solid fa-star"></i> 4.9</div>
                            <div class="info__shop-product2">Đánh giá</div>
                        </div>
                        <div class="info__shop-product">
                            <div class="info__shop-product1"><i class="fa-solid fa-clock"></i> Trong vài giờ</div>
                            <div class="info__shop-product2">Thời gian phản hồi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (ViewBag.nothing != null)
{
    <a href="/FindProduct/Search">
        <h1 style="color: red">@ViewBag.nothing</h1>
    </a>

}
<!-- end info shop -->
@{
    double sum = 0;
}
<!-- San pham -->
@if (ViewBag.ListPro != null)
{
    @if (ViewBag.Mess != null)
    {
        <div class="search__name">
            <div class="search__name-shop"><i class="fa-solid fa-circle-question"></i>Kết quả tìm kiếm cho: </div>
            <div class="search__name-shop1" style="color: red">
                @ViewBag.Mess
            </div>
        </div>
    }

    <div class="grid__row">
        @foreach (var item in ViewBag.ListPro)
        {
            string Price = double.Parse(item.productPrice.ToString()).ToString("#,###", cul.NumberFormat);
            sum = item.productPrice * 1.25;

            <div class="grid__column-2-4">
                <a class="home-product-item" href="/Product_Information/product_Information/@item.id_Product">
                    <div class="home-product-item-img" style="background-image: url(@item.productImage);"></div>
                    <h4 class="home-product-item-name">@item.productName</h4>
                    <h4 class="home-product-item-name">@item.productDescription</h4>
                    <div class="home-product-item-price">
                        <span class="home-product-item-price-old"> @sum vnd</span>
                        <span class="home-product-item-price-new">@Price vnd</span>
                    </div>
                    <div class="home-product-item-origin">
                        <span class="home-product-item-origin-name">Đã bán: @dao.GetNumberOfProductsSold(@item.id_Product)</span>
                    </div>
                </a>
            </div>
        }
    </div>
}

<ul class="pagination home-product__pagination">
    @if (ViewBag.Page != 1 && ViewBag.Page > 0 && ViewBag.Page <= ViewBag.endPage)
    {
        var left = ViewBag.Page - 1;
        <li class="pagination-item">
            <a href="/FindProduct/Search?searchContent=@ViewBag.SearchContent&&option=@ViewBag.Option&&page=@left" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-left">
                </i>
            </a>
        </li>
    }
    @for (var i = ViewBag.Page - 2; i <= ViewBag.endPage && i <= ViewBag.Page + 2; i++)
    {
        @if (i < 1)
        {
            i = 1;
        }
        @if (ViewBag.endPage != 1)
        {

            @if (ViewBag.Page == i)
            {
                <li class="pagination-item pagination-item-active">
                    <a style="background-color: #3770d863" class="pagination-item__link">@i</a>
                </li>
            }
            else
            {
                <li class="pagination-item pagination-item-active">
                    <a href="/FindProduct/Search?searchContent=@ViewBag.SearchContent&&option=@ViewBag.Option&&page=@i" class="pagination-item__link">@i</a>
                </li>
            }
        }
    }
    @if (ViewBag.Page != ViewBag.endPage && ViewBag.Page < ViewBag.endPage && ViewBag.Page > 0)
    {
        var right = ViewBag.Page + 1;
        <li class="pagination-item">
            <a href="/FindProduct/Search?searchContent=@ViewBag.SearchContent&&option=@ViewBag.Option&&page=@right" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-right">
                </i>
            </a>
        </li>
    }
</ul>