﻿.info__shop {
    height: 100px;
    width: 100%;
    background-color: var(--white-color);
    margin-top: 10px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.search__name {
    margin-left: 10px;
    display: flex;
    padding-top: 24px;
    height: 54px;
}

.search__name-shop {
    font-size: 1.6rem;
    color: rgb(153, 149, 149);
    padding-right: 2px;
    font-weight: 200;
}

.search__name-shop1 {
    font-size: 1.6rem;
    color: rgb(110, 152, 241);
    font-weight: 200;
}

.fa-solid.fa-circle-question {
    color: var(--primary-color);
    padding-right: 5px;
}

.info__shop-body {
    display: flex;
}

.info__shop-address {
    margin-top: 10px;
    margin-left: 10px;
    line-height: 20px;
}

.info__shop-sub {
    display: flex;
    line-height: 28px;
    margin-left: 450px;
    padding-top: 22px;
}

.info__shop-web {
    width: 300px;
}

.info__shop-product {
    border-left: 1px solid rgb(153, 149, 149);
    height: 50px;
}

.info__shop-product1 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 0 20px 0 20px;
}

.info__shop-product2 {
    font-size: 1.5rem;
    color: rgb(153, 149, 149);
    margin: 0 20px 0 20px;
    font-weight: 100;
}

.info__shop-product3 {
    font-size: 1.5rem;
    color: rgb(153, 149, 149);
    font-weight: 100;
}

.info__shop-item {
    display: flex;
}

.info__shop-logo {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-left: 20px;
}

.info__shop-avata {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    margin-left: 10px;
}

.info__shop-info {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.category-item-prices {
    margin-left: 20px;
    background-color: aquamarine;
    width: 140px;
    text-align: center;
}
