﻿@model FruitsWorld.Models.Account


@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/Form_Layout.cshtml";

}

<!-- Đăng nhap -->

<div class="background-form">

    <div class="auth-form">
        <form asp-action="Login" asp-controller="Login" onsubmit="return checkAllData()">
            <div class="auth-form__container">
                @if (ViewBag.error != null)
                {
                    <h2 style="color:red">@ViewBag.error</h2>
                }
                <h2 style="color:green">@ViewBag.ok</h2>
                <div class="auth-form__header">
                    <h3 class="auth-form__headding">Đăng Nhập</h3>
                    <a href="/Register/Register" class="auth-form__switch-btn">Đăng Ký</a>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input id="txtUsername" asp-for="username" class="auth-form__input" placeholder="Nhập tài khoản" onblur="checkUsername()" autocomplete="off" />
                        <span id="txtUsernameError" class="text-danger"></span>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" id="txtPassword" asp-for="password" class="auth-form__input" placeholder="Nhập mật khẩu" onblur="checkPassword()">
                        <span  class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        <span id="txtPasswordError" class="text-danger"></span>
                    </div>
                </div>

                <div class="auth-form__control">
                    <a href="/Home/Index" class="btn btn--nomal auth-form__control-back">Trang Chủ</a>
                    <button class="btn btn--primary">ĐĂNG NHẬP</button>
                </div>
            </div>
        </form>

    </div>
</div>
<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: 30px;
        position: relative;
        z-index: 2;
        color: #0000ff63;
    }
</style>
<script type="text/javascript">
        function checkUsername() {
               tk = document.getElementById("txtUsername").value;
               document.getElementById("txtUsernameError").innerHTML = tk.trim() == "" ? "Bạn cần điền tài khoản!" : "";
               return tk != "" ? true : false;
           }
           function checkPassword() {
               tk = document.getElementById("txtPassword").value;
               document.getElementById("txtPasswordError").innerHTML = tk.trim() == "" ? "Bạn cần điền mật khẩu!" : "";
               return tk != "" ? true : false;
           }


           function checkAllData() {
               isValidUsername = checkUsername()
               isValidPassword = checkPassword()
               isValid = isValidUsername && isValidPassword;
               return isValid;
           }
           const eyeElement = document.querySelector('.toggle-password');
           const inputElement = document.querySelector('#txtPassword');


           eyeElement.onclick = function(e){
               if(inputElement.type == 'password'){
                   inputElement.setAttribute('type', 'text')
               }
               else{
                   inputElement.setAttribute('type', 'password')
               }
                  


           }
</script>