﻿@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Account>

@{
    ViewData["Title"] = "Khách hàng ủng hộ";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
    
}

<div class="page">
    <h1 class="page__title">Khách hàng ủng hộ shop (cao đến thấp)</h1>
    <table class="layout display responsive-table">
        <thead>
                
                <tr>
                <th>Hình ảnh</th>
                <th>Khách hàng</th>
                <th>Số Tiền đã ủng hộ</th>

            </tr>
            
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string a = double.Parse(item.Money_buyAtShop.ToString()).ToString("#,###", cul.NumberFormat);
                <tr>
                    <td class="organisationnumber"><img src=" @Html.DisplayFor(modelItem => item.avatar)" style="width:100px;height:100px;" /></td>
                    <td class="organisationnumber">@item.fullName</td>
                    <td class="organisationnumber">@a VND</td>
                </tr>

            }
        </tbody>
    </table>

</div>
