﻿@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Product>

@{
    ViewData["Title"] = "Sản phẩm bán chạy";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); 
}


<div class="page">
    <h1 class="page__title">Những sản phẩm được mua nhiều nhất</h1>
    <table class="layout display responsive-table">
        <thead>
            <th>ID Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Hình Ảnh</th>
                <th>Số Lượng đã bán</th>
                <th>Số tiền thu nhập</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string a = double.Parse(item.income.ToString()).ToString("#,###", cul.NumberFormat);
                <tr>
                    <td class="organisationnumber">@item.id_Product</td>
                    <td class="organisationnumber">@item.productName</td>
                    <td class="organisationnumber"><img src=" @Html.DisplayFor(modelItem => item.productImage)" style="width:100px;height:100px;" /></td>
                    <td class="organisationnumber">@item.Quantity_sold</td>
                    <td class="organisationname">@a VND</td>

                </tr>

            }






        </tbody>
    </table>

</div>
