﻿@using FruitsWorld.Models

@{
    ViewData["Title"] = "Doanh thu";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
    int[] arr = new int[50];
    int y = 0;
    foreach (int a in ViewBag.test)
    {
        arr[y] = (int)a;
        y++;
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1 class="page__title">Doanh Thu năm @ViewBag.year</h1>
<div style="width: 950px;">
<canvas id="myChart" >
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(myChart, {
          type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
          data:{
            labels:['1', '2', '3', '4', '5', '6','7', '8', '9', '10', '11', '12'],
            datasets:[{
              label:"Đơn vị VND",
              data:[
        @arr[0],
        @arr[1],
        @arr[2],
        @arr[3],
        @arr[4],
        @arr[5],
        @arr[6],
        @arr[7],
        @arr[8],
        @arr[9],
        @arr[10],
        @arr[11]
              ],
              //backgroundColor:'green',
              backgroundColor:[
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(54, 162, 235, 0.6)'
              ],
              borderWidth:1,
              borderColor:'#777',
              hoverBorderWidth:3,
              hoverBorderColor:'#000'
            }]
          },
          options:{
            title:{
              display:true,
              text:'Doanh thu',
              fontSize:25
            },
            legend:{
              display:true,
              position:'right',
              labels:{
                fontColor:'#000'
              }
            },
            layout:{
              padding:{
                left:50,
                right:0,
                bottom:0,
                top:0
              }
            },
            tooltips:{
              enabled:true
            }
          }
        });
    </script>
</canvas>
</div>
<div class="phantrang">
<ul class="pagination home-product__pagination">
    @if (ViewBag.Page != 1 && ViewBag.Page > 1)
    {
        var left = ViewBag.Page - 1;
        <li class="pagination-item">
            <a class="phantrang1" href="/Seller_Statistics/Seller_Revenue?page=@left" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-left">
                </i>
            </a>
        </li>
    }
    @for (var i = 1; i <= 5; i++)
    {
        @if (ViewBag.Page == i)
        {
            <li class="pagination-item pagination-item-active">
                <a class="phantrang1" style="background-color: #3770d863" href="/Seller_Statistics/Seller_Revenue?page=@i" class="pagination-item__link">@i</a>
            </li>
        }
        else
        {
            <li class="pagination-item pagination-item-active">
                <a class="phantrang1" href="/Seller_Statistics/Seller_Revenue?page=@i" class="pagination-item__link">@i</a>
            </li>
        }

    }
    @if (ViewBag.Page < 5)
    {
        var right = ViewBag.Page + 1;
        <li class="pagination-item">
            <a  class="phantrang1" href="/Seller_Statistics/Seller_Revenue?page=@right" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-right">
                </i>
            </a>
        </li>
    }
</ul>
</div>


