﻿@using FruitsWorld.Models
@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Account>
@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

    var dao = new Fruits_World.Models.DuyenPD.DAO.ProductDAO();
}

<div class="home-product home-product-item-wrap">
    <h3 class="grid__row-text">Sản phẩm mới cho bạn</h3>
    <div class="grid__row">
        <!-- San pham -->
        @{
            double? sum = 0;
        }
        @foreach (Product product in ViewBag.list10Fruits)
        {
            sum = product.productPrice * 1.25;
            string sumAllPrice = double.Parse(product.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

            <div class="grid__column-2-4 grid__column-4 grid__column-MB">
                <a class="home-product-item" href="/Product_Information/product_Information/@product.id_Product">
                    <div class="home-product-item-img" style="background-image: url(@product.productImage);"></div>
                    <h4 class="home-product-item-name">@product.productName </h4>
                    <div class="home-product-item-price">
                        <span class="home-product-item-price-old">@sum vnd</span>
                        <span class="home-product-item-price-new">@sumAllPrice vnd</span>
                    </div>
                    <div class="home-product-item-origin">
                        <span class="home-product-item-origin-name">Đã bán: @dao.GetNumberOfProductsSold(@product.id_Product)</span>
                    </div>
                </a>
            </div>
        }


        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2-7">
                </div>
                <div class="grid__column-10-2">
                    <div class="home-product home-product-item-wrap">
                        <div class="grid__row">
                            <!-- San pham -->
                            <div class="grid__column-2-5">
                                <a class="home-product-item" href="#">
                                    <div class="home-product-item-img" style="background-image: url(/Images/sale1.png)"></div>
                                </a>
                            </div>
                            <div class="grid__column-2-5">
                                <a class="home-product-item" href="#">
                                    <div class="home-product-item-img" style="background-image: url(/Images/sale2.jpg);"></div>
                                </a>
                            </div>
                            <div class="grid__column-2-5">
                                <a class="home-product-item" href="#">
                                    <div class="home-product-item-img" style="background-image: url(/Images/sale3.jpg);"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="grid__row">
                @* <div class="home-product home-product-item-wraps">
                    <h3 class="grid__row-text">Sản phẩm nổi bật</h3>
                    <div class="grid__row2">
                    <!-- San pham -->
                    @foreach (Product product in ViewBag.listhighlights)
                    {
                    sum = product.productPrice * 1.25;
                    string sumAllPrice = double.Parse(product.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

                    <div class="grid__column-2-4 grid__column-4 grid__column-MB">
                    <a class="home-product-item" href="/Product_Information/product_Information/@product.id_Product">
                    <div class="home-product-item-img" style="background-image: url(@product.productImage);"></div>
                    <h4 class="home-product-item-name">@product.productName </h4>
                    <div class="home-product-item-price">
                    <span class="home-product-item-price-old">@sum vnd</span>
                    <span class="home-product-item-price-new">@sumAllPrice vnd</span>
                    </div>
                    <div class="home-product-item-origin">
                    <span class="home-product-item-origin-name">Đã bán: @dao.GetNumberOfProductsSold(@product.id_Product)</span>
                    </div>
                    </a>
                    </div>
                    }



                    </div>
                    </div>*@

                <div class="home-product home-product-item-wraps">
                    <h3 class="grid__row-text">Sản phẩm nổi bật</h3>
                    <div class="grid__row2">
                        <!-- San pham -->
                        @foreach (Product product in ViewBag.listhighlights)
                        {
                            sum = product.productPrice * 1.25;
                            string sumAllPrice = double.Parse(product.productPrice.ToString()).ToString("#,###", cul.NumberFormat);
                            <div class="grid__column-2-4 grid__column-4 grid__column-MB">
                                <a class="home-product-item" href="/Product_Information/product_Information/@product.id_Product">
                                    <div class="home-product-item-img" style="background-image: url(@product.productImage);"></div>

                                    <div class="sonngu">
                                    <h4 class="home-product-item-name">@product.productName </h4>
                                    </div>
                                    <div class="home-product-item-price">
                                        <span class="home-product-item-price-old">@sum vnd</span>
                                        <span class="home-product-item-price-new">@sumAllPrice vnd</span>
                                    </div>
                                    <div class="home-product-item-origin">
                                        <span class="home-product-item-origin-name">Đã bán: @dao.GetNumberOfProductsSold(@product.id_Product)</span>
                                    </div>
                                </a>
                            </div>

                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
