﻿@using FruitsWorld.Models
@using Fruits_World.Models.SonNN.DAO
@model FruitsWorld.Models.Product
@using Microsoft.AspNetCore.Http
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Đặt hàng - mua ngay";
    ProductDAO Productdao = new ProductDAO();
    AccountDAO accountDAO = new AccountDAO();
    Account account = accountDAO.getAccountbyID(@HttpContextAccessor.HttpContext.Session.GetString("id"));
    Product product = Productdao.getProductbyId(Model.id_Product);
    Account Shopaccount = accountDAO.getAccountbyID(Model.id_Account);
    int sum = Convert.ToInt32(ViewBag.soluong) * product.productPrice;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    string Price = double.Parse(Model.productPrice.ToString()).ToString("#,###", cul.NumberFormat);
    string SumPrice = double.Parse(sum.ToString()).ToString("#,###", cul.NumberFormat);

}
<h1>@ViewBag.PayFail</h1>
<h1>@ViewBag.NotEnoughInformation</h1>
<h1>@ViewBag.loi</h1>
<div class="Cart_product">

    <div class="Cart_product-title">
        <h2 class="Cart_title">Thanh toán</h2>
    </div>

    <div class="cart_adress">
        <div class="info__address-line"></div>
        <div class="info__address-items">
            <div class="info__address-headding">
                <div class="info__logo"><i class="fa-solid fa-location-dot"></i></div>
                <div class="info__adress-cus">Địa chỉ nhận hàng</div>
            </div>
        </div>

        <div class="info__address">
            <div class="info__address-form">
                <div class="info__sdt">@account.fullName @account.sdt</div>
                <div class="info_form">@account.address</div>
                <a href="/AccOunt_UpdateInformation/account_UpdateInformation/@account.id_Account"><div class="info_trangthai">Thay đổi</div></a>
            </div>
        </div>
    </div>
    <!-- end list -->
    <!-- Cart-product -->

    <div class="GioHang">
            <div class="Cart_product-headding">
                <lable class="check_box">

                </lable>

                <div class="check_box-sp1">@Shopaccount.fullName <i class="fa-brands fa-rocketchat"></i></div>
            </div>
            <div class="list-item">
                    <div class="Cart_product-list1">
                        <lable class="check_box">

                        </lable>

                        <div class="check_box-sp">
                            <div class="check_info-item">
                                <div class="check_img">
                                    <a href="#" class="check_avata">
                                        <img src="@product.productImage" class="check_avata-product">
                                    </a>
                                </div>
                                <div class="check_info">
                                    <a href="" class="check_info-title">@product.productName</a>
                                </div>
                            </div>
                        </div>
                        <div class="check_box-dg">
                            <div class="check_dongia">
                                <span class="giacu">100.000 vnd </span>
                                <span class="giamoi">@Price vnd </span>
                            </div>
                        </div>
                        <div class="check_box-sl">
                            <ul>
                                <li>
                                    <div class="nut_soluong">
                                        <p>@ViewBag.soluong</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="check_box-st">@SumPrice vnd</div>
                    </div>
            </div>



        <!-- Phuong thuc thanh toan  -->
        <form asp-action="checkOut_PayMuaNgay" asp-controller="Product_CheckOut" onsubmit="return checkPttt()">
            <div class="ThanhToan">
                <div class="ThanhToan__item">
                    <label for="" class="ThanhToan__nao">Phương thức thanh toán:</label>
                    <input type="hidden" name="address" value="@account.address"/>
                    <input type="hidden" name="sdt" value="@account.sdt"/>
                    <input type="hidden" name="productid" value="@Model.id_Product"/>
                    <input type="hidden" name="soluong" value="@ViewBag.soluong"/>
                    <input type="hidden" name="tong" value="@sum"/>
                    <br>
                    <input id="atm" class="check_radio" name="phuongthucthanhtoan" type="radio" value="2" /><label for="atm">Thẻ tín dụng</label>
                    <input  id="tienMat" class="check_radio" name="phuongthucthanhtoan" type="radio" value="1" /><label for="tienMat">Thanh toán khi nhận hàng</label>
                    <span style="color:red" id="txtError"></span>
                </div>
            </div>

            <!-- end thanh toan -->
            <!-- cart-footer -->
            <div class="Cart_product-footers">
                <div class="Cart_produc-items">

                    <div class="check_box-sl1">Tổng thanh toán :</div>
                    <div class="check_box-sl1">@SumPrice vnd</div>

                    <div class="check_box-tt">
                        <input type="submit" class="btn" value="Đặt hàng" />
                    </div>

                </div>
            </div>
        </form>
        <!-- end-footter -->
    </div>




</div>

<script>
    function checkPttt() {
        var check = document.getElementsByName("phuongthucthanhtoan");
        if (check[0].checked == false && check[1].checked == false) {
            document.getElementById("txtError").innerHTML = "     Vui lòng chọn phương thức thanh toán!";
            return false;
        }
        return true;
    }

</script>



