﻿@model FruitsWorld.Models.Product

@{
    ViewData["Title"] = "Đăng ký sản phẩm";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
}

<h1>Đăng kí bán sản phẩm</h1>
<h1>@ViewBag.test</h1>
<hr/>
<div class="row">
    <div class="form-items">
    <div class="col-md-4">
        <form asp-action="registedtoSellProduct" asp-controller="registedtoSellProduct" enctype="multipart/form-data" onsubmit="return checkAllData()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" value="@ViewBag.idAcc" asp-for="id_Account" class="form-control" />
                <span asp-validation-for="id_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label">Tên sản phẩm</label>
                <input id="txtproductName" value="" asp-for="productName" class="form-control" autocomplete="off" onblur="checkProductName()"/>
                <span id="txtproductNameError" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <input value ="1" asp-for="productImage" class="form-control"/>
                <span asp-validation-for="productImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh sản phẩm</label>
                <input id="txtproductImage" type="file" name="avatar" class="form-control" />
                <span id="txtproductImageError"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productDescription" class="control-label">Thông tin sản phẩm</label>
                <input id="txtproductDes" value="" asp-for="productDescription" class="form-control" autocomplete="off" onblur="checkProductDes()"/>
                <span id="txtproductDesError" asp-validation-for="productDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productPrice" class="control-label">Giá</label>
                <input min="0" id="txtproductPrice" value="" asp-for="productPrice" class="form-control" autocomplete="off" onblur="checkProductPrice()"/>
                <span id="txtproductPriceError" asp-validation-for="productPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productQuantity" class="control-label">Số lượng (KG)</label>
                <input min="0" id="txtproductQuantity" value="" asp-for="productQuantity" class="form-control" autocomplete="off" onblur="checkProductQuantity()"/>
                <span id="txtproductQuantityError" asp-validation-for="productQuantity" class="text-danger"></span>
            </div>
             <div class="form-groups">
                <input type="submit" value="Đăng kí" class="btn btn-primary" />
                <a href="/registedtoSellProduct/registedtoSellProduct" class="btn_return">Trở về</a>
            </div>
        </form>
    </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">

        function checkProductName() {
            tk = document.getElementById("txtproductName").value;
            document.getElementById("txtproductNameError").innerHTML = tk.trim() == "" ? "Tên sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
        function checkProductImage() {
            tk = document.getElementById("txtproductImage").value;
            document.getElementById("txtproductImageError").innerHTML = tk.trim() == "" ? "Hình ảnh sảnh phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }


        function checkProductPrice() {
            tk = document.getElementById("txtproductPrice").value;
            document.getElementById("txtproductPriceError").innerHTML = tk.trim() == "" ? "Giá sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
        function checkProductQuantity() {
            tk = document.getElementById("txtproductQuantity").value;
            document.getElementById("txtproductQuantityError").innerHTML = tk.trim() == "" ? "Số lượng sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
        function checkProductDes() {
            tk = document.getElementById("txtproductDes").value;
            document.getElementById("txtproductDesError").innerHTML = tk.trim() == "" ? "Thông tin sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
       
        function checkAllData() {
            isValidProductName = checkProductName();
            isValidProductImage = checkProductImage();
            isValidProductDes = checkProductDes();
            isValidProductPrice = checkProductPrice();
            isValidProductQuantity = checkProductQuantity();
            isValid = isValidProductName && isValidProductImage && isValidProductDes && isValidProductPrice && isValidProductQuantity;
            return isValid;
        }
    </script>
