﻿@model FruitsWorld.Models.Account

@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/Info_Layout.cshtml";

}

<h1>Nạp tiền vào tài khoản</h1>
<div class="row">
     <div class="form-items">
    <div class="col-md-4">
        <form asp-action="account_updateMoney" asp-controller="Account_updateMoney">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="id_Account" class="control-label"></label>
                <input type="hidden" asp-for="id_Account" class="form-control" />
                <span asp-validation-for="id_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="money" class="control-label">Nhấp số tiền</label>
                <input value=0 min="50000" max="10000000" asp-for="money" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-groups">
                <input type="submit" value="Nạp" class="btn btn-primary" />
                <a href="/Account_Information/accountInformation/" class="btn_return">Trở về</a>
            </div>
        </form>
    </div>
</div>
</div>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
