﻿html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.app__container{
    margin-top:120px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: aliceblue !important;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.header {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: var(--header-height);
    background-image: linear-gradient(0,rgb(53, 141, 212),rgb(53, 94, 230));
}
.slider {
    margin-top: 120px;
}
.slider_background {
    margin-bottom:-120px;
}
.header__navbar {
    display: flex;
    justify-content: flex-end;
}

.slider_background {
    width: 100%;
    border-radius: 4px;
}

.header__navbar-list {
    list-style: none;
    margin: 4px 0 0 0;
    padding-left: 0;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    max-height: 26px;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding: 16px 0 16px 0;
}

.grid__row2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding: -1px;
    margin-left: 120px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
    background-color: rgb(237, 249, 250);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.grid__column-2-7 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
    border-bottom: 1px solid var(--text-color);
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    background-color: rgb(237, 249, 250);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    min-height: 500px;
}

.grid__column-10-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    border-bottom: 1px solid var(--text-color);
}

.grid__column-10-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    border-bottom: 1px solid var(--primary-color);
    align-items: center;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    padding-bottom: 10px;
}

.grid__column-2-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    text-align: center;
}

.grid__column-2-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 23%;
    text-align: center;
}

.grid__row-text {
    font-size: 20px;
    color: var(--text-color);
}

.home-product-headding {
    font-size: 2.6rem;
    color: var(--primary-color);
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-align: center;
}

    .home-product-item:hover {
        transform: translateY(-1px);
        box-shadow: 0 1rem 20rem 0 rgba(0,0,0,0.05);
    }

.home-product-item-wrap {
    margin-bottom: 50px;
}

.home-product-item-wraps {
    margin-bottom: 10px;
    text-align: center;
}

.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-product-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    padding: 0 10px;
    margin: 10px 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-right :46px;
}

.home-product-item-price {
    display: flex;
    margin: 0 0 10px 10px;
    flex-wrap: wrap;
}

.home-product-item-price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item-price-new {
    font-size: 1.3rem;
    color: rgb(247, 22, 22);
    padding-left: 8px;
}

.home-product-item-origin-name {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px 0;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
}


.app_cantainer {
    min-height: 500px;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-list {
    list-style: none;
    padding: 0 0 8px 0;
}

.category-item-link {
    text-decoration: none;
    color: #1554b3;
    font-size: 1.6rem;
    padding: 8px 16px;
    display: block;
}

    .category-item-link:hover {
        color: var(--primary-color);
    }


.category-heading {
    color: #1554b3;
    font-size: 1.7rem;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}




.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    padding-top: 3px;
}

    .header__navbar-item:hover,
    .header__navbar-item-link:hover {
        color: rgba(255, 255, 255,0.7);
        cursor: pointer;
    }

.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-user-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user {
    position: relative;
}

    .header__navbar-user:hover .header__navbar-user-menu {
        display: block;
    }

.header__navbar-user-name {
    margin-left: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 0;
    right: 0;
    top: 170%;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 150px;
    list-style: none;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
}

    .header__navbar-user-menu::before {
        content: "";
        position: absolute;
        right: 5px;
        top: -28px;
        border-width: 20px 19px;
        border-style: solid;
        border-color: transparent transparent var(--white-color)transparent;
        cursor: pointer;
    }

    .header__navbar-user-menu::after {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        right: 0;
        width: 100%;
        height: 8px;
    }

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px;
    display: block;
}

    .header__navbar-user-item a:hover {
        background-color: #fafafa;
    }


/* Authen_Container */
.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
    margin: 10px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__headding {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn:hover {
    color: rgb(233, 105, 105);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    padding-bottom: 20px;
}

.auth-form__socail {
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socail-icon {
    font-size: 2rem;
}

.auth-form__socail--facebook {
    background-color: #3A5A98;
}

.auth-form__socail--facebook,
.auth-form__socail--icon {
    color: var(--white-color);
}

.auth-form__socail--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 18px;
    margin: 2px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-help {
    color: #939393;
}

.header__logo {
    line-height: 12px;
    font-size: 40px;
    height: 16px;
    color: var(--white-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.header__logo-text {
    padding-left: 10px;
    text-decoration: none;
    color: var(--bs-gray-200);
}

.header-with-search {
    height: 89px;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
/* Cart layout */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    display: none;
    cursor: default;
    z-index: 10;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    /*height: 56vh;*/
    overflow-y: auto;
    max-height: 350px;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

    .header__cart-item:hover {
        background-color: #F7F7F7;
    }

.header__cart-img {
    width: 60px;
    height: 60px;
    margin: 12px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item-info {
    width: 100%;
}

.header__cart-list-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-list-item-name {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-list-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-list-item-body {
    text-align: left;
}

.header__cart-list-item-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 36px;
}

.header__cart-list-item-multiply {
    font-size: 1.3rem;
    font-weight: 500;
    color: #757575;
    margin: 0;
    padding: 7px 0;
}

.header__cart-list-item-qantity {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-list-item-remove {
    font-weight: 300;
}

    .header__cart-list-item-remove:hover {
        background-color: #F7F7F7;
        color: var(--primary-color);
        cursor: pointer;
    }

.header__cart-view-cart {
    float: right;
    margin: 0 10px 10px 0;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 5px;
    top: -30px;
    border-width: 20px 19px;
    border-style: solid;
    border-color: transparent transparent var(--white-color)transparent;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.6rem;
    /* display: none; */
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

    .header__cart-list--no-cart .header__cart-no-cart-img,
    .header__cart-list--no-cart .header__cart-list-no-cart-msg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
}

.header__cart-notice {
    position: absolute;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 1px 6px;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid rgb(94, 162, 226);
    right: -5px;
    top: -8px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    flex: 1;
    margin-left: 30px;
}

.Search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    flex: 1;
    margin-left: 30px;
}

.header__search-btn:hover {
    background-color: #6f82da;
    cursor: pointer;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
/*search hisstory*/
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #999;
    display: none;
    overflow: hidden;
    z-index: 10;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-heading {
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    padding: 0 16px;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    padding: 0 12px;
    height: 34px;
}

    .header__search-history-item a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--text-color);
        display: block;
    }

    .header__search-history-item:hover {
        color: var(--white-color);
        background-color: #fafafa;
        line-height: 34px;
        cursor: pointer;
    }

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    margin-top: 3px;
    outline: none;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer {
    background-image: linear-gradient(0,rgb(53, 94, 230),rgb(53, 141, 212));
    color: var(--white-color);
    height: 150px;
}

.footer-heading {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.footer-heading__icon {
    font-size: 20px;
    align-items: center;
    margin-left: 40px;
    color: var(--white-color);
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(53, 94, 230);
    --border-color: #bdbdbd;
    --navbar-height: 32px;
    --header-height: 120px;
    --header-width-search-height: calc(var(--header-height)- var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}
.grid1 {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 120px;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }

    to {
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    animation: growth linear 0.1s;
    --growth-form: 0.7;
    --growth-form: 0.1;
}

.btn {
    min-width: 124px;
    height: 40;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    padding: 12px;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn.btn--size-s {
        height: 30px;
        padding: 0 8px;
        font-size: 12x;
        border: 1px solid var(--text-color);
        border: 1px solid rgb(190, 185, 185);
    }

    .btn.btn--nomal:hover {
        background-color: rgba(0, 0, 0, 0.1)
    }

    .btn.btn--primary {
        color: var(--white-color);
        background-color: var(--primary-color);
    }

        .btn.btn--primary:hover {
            background-color: rgb(48, 123, 235);
        }

    .btn.btn--disabled {
        color: #949494;
        cursor: default;
        background-color: #eeeeee;
    }

.auth-form_socail-title {
    margin: 0 26px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item-active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}


ul {
    margin: 0px;
    padding: 0px;
}

li a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-cta.pt-5.pb-5 {
    padding-bottom: 30px;
}

.container {
    padding: 10px 0px 10px 0px;
}

.footer-section {
    background: var(--primary-color);
    position: relative;
}

/*.footer-cta {
    border-bottom: 1px solid #373636;
}*/

.col-xl-4.col-lg-4.mb-50 {
    width: 30%;
}

.col-xl-4.col-lg-4.col-md-6.mb-30 {
    width: 30%;
}

.col-xl-4.col-md-4.mb-30 {
    width: 30%;
}

.footer-widget-heading1 h3 {
    font-size: 2.2rem;
    font-weight: 400;
}

.col-xl-4.col-lg-4.col-md-6.mb-51 {
    margin-left: 20px;
    margin-right: 20px;
}

.single-cta i {
    color: rgb(13, 236, 236);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

    .cta-text h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .cta-text span {
        color: var(--white-color);
        font-size: 15px;
    }

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
    color: rgb(13, 236, 236);
}

    .footer-logo img {
        max-width: 200px;
    }

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: var(--white-color);
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: rgb(13, 236, 236);
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

    .footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: rgb(13, 236, 236);
    }

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

    .footer-widget ul li a:hover {
        color: rgb(13, 236, 236);
    }

    .footer-widget ul li a {
        color: var(--white-color);
        text-transform: capitalize;
    }

.subscribe-form {
    position: relative;
    overflow: hidden;
}

    .subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #f7f3f3;
        border: 1px solid #2E2E2E;
        color: var(--text-color);
    }

    .subscribe-form button {
        position: absolute;
        right: 0;
        background: rgb(13, 236, 236);
        padding: 13px 20px;
        border: 1px solid rgb(13, 236, 236);
    }

        .subscribe-form button i {
            color: #fff;
            font-size: 22px;
            transform: rotate(-6deg);
        }

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #d6d4d4;
}

    .copyright-text p a {
        color: rgb(13, 236, 236);
    }

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

    .footer-menu li:hover a {
        color: rgb(13, 236, 236);
    }

    .footer-menu li a {
        font-size: 14px;
        color: #878787;
    }

.grid__column-2-a {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    border: 1px solid var(--text-color);
}

.grid__row-img {
    display: flex;
    justify-content: space-between;
}

.grid__column-2 {
    background-color: rgb(237, 249, 250);
}

.grid__column-10 {
    border-left: 2px solid rgb(223, 241, 255);
    background-color: rgb(237, 249, 250);
}

.home-product-item-img2 img {
    width: 100px;
    height: 100px;
    padding-left: 5px;
    border: 1px solid var(--text-color);
}

.card__img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.carousel-inner {
    padding-top: 50px;
    width: 400px;
    height: 400px;
    padding: 0 15px 15px;
}

.carousel-item.active {
    padding-top: 35px;
}

.category-item-price {
    background-color: rgb(237, 249, 250);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    width: 150px;
    padding: 0;
    display: none;
    font-size: 1.2rem;
    margin-left: 20px;
    animation: fadeIn ease-in 0.2s;
    display: block;
}


.category-item:hover .category-item-price {
    display: block;
}

.font-h2 {
    font-size: 24px;
}

.info-pro {
    padding-left: 20px;
    padding-right: 20px;
}

.col-lg-12 h2 {
    font-size: 2.8rem;
    padding-left: 30px;
    padding-top: 10px;
    margin-top: -40px;
    color: var(--primary-color);
}

.rows {
    display: flex;
    background-color: var(--white-color);
    width: 99%;
    margin-left: 6px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.cart-and-bay-btn {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.available-stock {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.2;
    padding-right: 10px;
}

.single-product-details ul {
    list-style: none;
}
.single-product-details{
    margin-top: 30px;
}

.title__cart {
    padding-bottom: 10px;
    margin-top: -20px;
}

.title__cart-heading {
    font-size: 3rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.form-group {
    padding-left: -100px;
    margin-top:10px;

}

.font-h3 {
    font-size: 18px;
    font-weight: 400;
}

.font-price {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.cart-and-bay-btn {
    padding-bottom: 70px;
}

.btn-card.btn_add {
    color: var(--primary-color);
    background-color: rgba(142, 208, 235, 0.267);
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 4px;
}

.btn-card.btn_buy {
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 4px;
}

    .btn-card.btn_buy:hover {
        background-color: rgb(73, 137, 233);
    }

.btn-card.btn_add:hover {
    background-color: rgb(200, 216, 240);
}

.fa-solid.fa-cart-plus {
    padding-right: 5px;
}

/* info shop */
.app_saler {
    display: flex;
    height: 130px;
    background-color: var(--white-color);
    width: 98%;
    border-radius: 4px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    margin: 20px 10px 0px 10px;
}

.info__chat {
    display: flex;
}

.info__shop {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
}

.info_avata {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
}

.info__product {
    display: flex;
    padding-right: 150px;
    margin-top: 50px;
}

.info__adress-name {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.info__home-shop {
    padding-top: 10px;
    margin-left: 15px;
}

.btn-card.btn_adds {
    color: var(--primary-color);
    background-color: rgba(142, 208, 235, 0.267);
    height: 35px;
    line-height: 35px;
    width: 120px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-size: 1.6rem;
    border-radius: 4px;
    padding-left: 5px;
}

.btn-card.btn_buys {
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 35px;
    line-height: 35px;
    width: 120px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-size: 1.6rem;
    border-radius: 4px;
}

    .btn-card.btn_buys:hover {
        background-color: rgb(73, 137, 233);
    }

.btn-card.btn_adds:hover {
    background-color: rgb(200, 216, 240);
}

.info__product-start {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.info__product-pr {
    display: flex;
    align-items: center;
    padding-left: 0px;
    text-decoration: none;
}

.info__shop-item {
    height: 130px;
    display: flex;
}

.descriptions {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: left;
    width: 100px;
    display: flex;
    align-items: center;
}

.value {
    font-size: 1.6rem;
    color: red;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.enshop {
    background: transparent;
    border: 0;
    position: relative;
    overflow: visible;
    outline: 0;
    height: 50px;
    margin-top: 20px;
    display: flex;
    padding-left: 10px;
}

.single-product-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    color: red;
    border-right: 1px solid rgb(207, 202, 202);
    padding: 0 10px 0 10px;
}

.single-product-star1 {
    display: flex;
    font-size: 1.6rem;
    color: var(--text-color);
    align-items: center;
    border-right: 1px solid rgb(207, 202, 202);
    padding: 0 10px 0 10px;
}

.single-product-star2 {
    display: flex;
    font-size: 1.6rem;
    color: var(--text-color);
    align-items: center;
    padding: 0 10px 0 10px;
}

.starts {
    padding-left: 5px;
    margin-left: 5px;
}

.single-product-disscustion {
    display: flex;
}

.single-product-saled {
    padding-left: 5px;
    color: rgb(134, 130, 130);
    ;
}


/* comment */
.commnet__item-comment {
    display: flex;
    border-bottom: 1px solid var(--text-color);
    margin-left: 50px;
    margin-right: 50px;
}

.commnet__item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.commnet__item-avata {
    padding-right: 10px;
}

.commnet__item-img {
    margin-top: 10px;
}

.commnet__item-info {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.commnet__title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 20px;
}

.commnet__item {
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    background-color: snow;
    width: 100%;
}

.starts {
    color: red;
    align-items: center;
}


.Cart_title {
    font-size: 3rem;
    color: var(--primary-color);
}

.Cart_product-title {
    margin-left: 20px;
}

.Cart_product-headding {
    display: flex;
    background-color: var(--white-color);
    height: 40px;
    align-items: center;
    margin: 20px 20px 0px 20px;
}

.Cart_product-headding1 {
    display: flex;
    height: 40px;
    align-items: center;
    margin: 20px 20px 0px 20px;
}

.Cart_product-list1 {
    display: flex;
    background-color: var(--white-color);
    height: 100px;
    align-items: center;
    margin: 0px 20px 0px 20px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.Cart_product-footer {
    display: flex;
    background-color: rgba(57, 183, 233, 0.61);
    height: 120px;
    align-items: center;
    border-top: 2px solid var(--text-color);
    margin: 5px 20px 20px 20px;
}

.check_info {
    padding: 0 5px 0 5px;
   width:240px;
}

.check_box-input {
    margin-left: 20px;
}

.check_box-sp {
    position: relative;
    display: flex;
    justify-content:center;
    flex: 5;
    font-size: 1.6rem;
    align-items: center;
    padding-left: 30px;
}
.check_box-sp1 {
    position: relative;
    display: flex;
    flex: 3;
    font-size: 1.6rem;
    align-items: center;
    padding-left: 30px;
    text-decoration: none;
}
.check_info-item {
    position: absolute;
    display: flex;
    align-items: center;
}

.check_img {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 2px;
}

.check_info-title {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 6px;
}

.check_avata-product {
    width: 60px;
    height: 60px;
}

.check_dongia {
    display: flex;
}

.giacu {
    font-size: 1.2rem;
    padding-right: 5px;
    text-decoration: line-through;
}

.giamoi {
    color: var(--primary-color);
    font-size: 1.8rem;
}
.giamoi1 {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.fa-brands.fa-rocketchat {
    padding-left: 5px;
    color: var(--primary-color);
}

.check_box-sl ul {
    list-style: none;
}

.check_box-dg {
    display: flex;
    flex: 3;
    font-size: 1.6rem;
    text-align: center;
}

.check_box-sl {
    display: flex;
    flex: 3;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 30px;
}

.check_box-st {
    display: flex;
    flex: 2;
    font-size: 1.8rem;
    color: var(--primary-color);
}
.check_box-st2 {
    display: flex;
    flex: 2;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.check_box-st1 {
    display: flex;
    flex: 1;
    font-size: 1.8rem;
}

.check_box-tt {
    display: flex;
    padding-right:10px;
    font-size: 1.8rem;
}

.xoa_sanpham {
    margin-left: 10px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.xoa_sanpham {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    border: 0;
    height: 30px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

/* form dang ky dia chi */
.auth-form__headding2 {
    font-weight: 300;
    color: var(--text-color);
    padding-left: 16px;
}

.auth-form__headding {
    color: var(--primary-color);
    padding-left: 16px;
}

.check_boxx {
    display: flex;
}

.auth-form__control {
    padding-right: 10px;
}

.auth-form__group {
    font-size: 1.6rem;
    text-align: center;
    color: antiquewhite;
}

.auth-form__Ten {
    height: 30px;
    width: 44%;
    margin: 10px 8px 10px 0;
}

.auth-form__sdt {
    height: 30px;
    width: 44%;
    margin: 10px 0 10px 0;
}

.auth-form__tinh {
    height: 50px;
    width: 90%;
    margin: 10px 10px 10px 10px;
}

.auth-form__diachi {
    min-height: 60px;
    width: 90%;
    margin: 10px 10px 10px 10px;
}

.auth-form-nomal {
    margin-top: 30px;
}

.btn.btn--nomal {
    color: var(--primary-color);
    background-color: rgb(220, 233, 245);
}

.cart_adress {
    width: 96%;
    margin-left: 20px;
}

.info__address {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--white-color);
}

.info__address-line {
    height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}

.info__address-headding {
    display: flex;
}

.info__logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.fa-solid.fa-location-dot {
    align-items: center;
    font-size: 2rem;
    color: var(--primary-color);
}

.info__adress-cus {
    font-size: 2.2rem;
    color: var(--primary-color);
    padding: 10px 12px 10px 0;
}

.info__address-form {
    display: flex;
}

.info__sdt {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0 12px 0 12px;
}

.info_trangthai {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.info_form {
    font-size: 1.6rem;
    padding: 0 12px 0 12px;
}

.info__address-items {
    display: flex;
    background-color: var(--white-color);
    padding: 16px 0 16px 0;
}

.Cart_product-headding1 {
    padding-left: 20px;
}

.Cart_product-headding {
    padding-left: 20px;
}

.Cart_product-list1 {
    padding-left: 20px;
}
/* Phuong thuc thanh toan */
.ThanhToan__item {
    height: 100px;
    background-color: var(--white-color);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    width: 96%;
    margin: 10px 0 10px 20px;
    display: flex;
}

.ThanhToan__item {
    font-size: 1.8rem;
    padding: 40px 20px 40px 20px;
}

.soluong {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left:30px;
}

.ThanhToan__nao {
    padding-right: 10px;
}

.Cart_product-footers {
    width: 96%;
    margin-left: 20px;
    padding-bottom: 30px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.Cart_produc-items {
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.check_box-sl1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 230px;
    margin-right:10px;
}

.ThanhToan__the {
    border-radius: 1px solid var(--primary-color);
}
/* trang thai van chuyen */
.status {
    height: 200px;
    width: 100%;
    display: flex;
}

.status__logo {
    display: flex;
}

.status__item {
    margin: auto;
    width: 100%;
    padding-right: 40px;
}

.status__bill-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.status__bill-order {
    margin-left: 20px;
}

.status__bill-text {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 300;
}

.status__bill-text3 {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 100;
}

.status__bill-history {
    margin-right: 20px;
}

.status__bill-text2 {
    font-size: 1.4rem;
    color: var(--text-color);
}

.status__bill-head {
    display: flex;
    width: 100%;
    margin-left: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
    height: 40px;
    align-items: center;
    line-height: 30px;
}

.status__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
    height: 90px;
    align-items: center;
    line-height: 30px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.status__logo-accept {
    padding-right: 40px;
    text-decoration: none;
}

.status__logo-icon {
    font-size: 3.8rem;
    margin-left: 20px;
    color: rgba(19, 65, 156, 0.438);
}

.status__logo-iconv {
    font-size: 3.8rem;
    margin-left: 20px;
    color: rgba(16, 90, 238, 0.801);
}

.status__logo-icone {
    font-size: 3.8rem;
    margin-left: 40px;
    color: rgba(19, 65, 156, 0.438);
}

.status__logo-iconev {
    font-size: 3.8rem;
    margin-left: 40px;
    color: rgba(16, 90, 238, 0.801);
}

.status__logo-textv {
    font-size: 2rem;
    color: rgba(16, 90, 238, 0.801);
    padding-top: 10px;
    text-decoration: none;
}

.status__logo-icons {
    font-size: 3.8rem;
    margin-left: -4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(19, 65, 156, 0.438);
}

.status__logo-iconsv {
    font-size: 3.8rem;
    margin-left: -4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(16, 90, 238, 0.801);
}

.status__logo-text {
    font-size: 2rem;
    color: rgba(59, 56, 56, 0.568);
    padding-top: 10px;
    text-decoration: none;
}

.status__bill-text2 {
    color: rgba(19, 65, 156, 0.438);
    font-size: 2rem;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}
.order {
    width: 100%;
    margin-top:-140px;
}

.order__item {
    height: 60px;
    display: flex;
    align-items: center;
}

.order__item-cart {
    display: flex;
    margin-right: 4px;
    padding-left: 20px;
    text-decoration: none;
}

.order__item-logo {
    font-size: 3rem;
    padding-right: 8px;
    color: black;
}

.order__item-logo2 {
    font-size: 3rem;
    padding-right: 8px;
    color: var(--primary-color);
}

.order__item-text {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.order__body {
    width: 100%;
    background-color: rgb(237, 249, 250);
    box-shadow: 0 1px 2px #999;
    margin-top: 20px;
}

.order__body-item {
    height: 460px;
}

.order__body-icon {
    font-size: 7rem;
    color: var(--primary-color);
    text-align: center;
    padding-top: 16px;
    margin-top:-100px;
}

.order__body-h3 {
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.order__body-text2 {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 20px;
    font-weight: 300;
    color: var(--text-color);
}

.fa-solid.fa-cart-plus {
    padding-right: 4px;
}

.fa-solid.fa-house {
    padding-right: 4px;
}

.order__body-text3 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    color: var(--text-color);
}

.order__body-return {
    display: flex;
    justify-content: center;
}

.return_btn {
    text-decoration: none;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    background-color: rgb(226, 232, 238);
}

    .return_btn:hover {
        background-color: rgb(169, 210, 243);
        cursor: pointer;
    }

.order__body-text4 {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--text-color);
}



.order__body-feedback {
    text-align: center;
}

.order__body-text4 {
    font-size: 1.4rem;
    font-weight: 100;
}
body {
    padding: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAQElEQVQIW2P89OvDfwYo+PHjJ4zJwMHBzsAIk0SXAKkCS2KTAEu++vQSbizIKGQAl0SXAJkGlsQmAbcT2Shk+wH0sCzAEOZW1AAAAABJRU5ErkJggg==);
}

a {
    color: #2a66e7;
}

.page {
    max-width: 60em;
    margin: 0 auto;
    font-size: 1.4rem;
}

.actions {
    display: in;
}

table th,
table td {
    text-align: left;
}

table.layout {
    width: 100%;
    border-collapse: collapse;
}

table.display {
    margin: 1em 0;
}

    table.display th,
    table.display td {
        border: 1px solid #65c6df;
        padding: .5em 1em;
    }

    table.display th {
        background: #abdeeb;
    }

    table.display td {
        background: #fff;
    }

table.responsive-table {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 30em) {
    table.responsive-table {
        box-shadow: none;
    }

        table.responsive-table thead {
            display: none;
        }

    table.display th,
    table.display td {
        padding: .5em;
    }

    table.responsive-table td:nth-child(1):before {
        content: 'Trạng Thái';
    }

    table.responsive-table td:nth-child(3):before {
        content: 'Tên';
    }

    table.responsive-table td:nth-child(1),
    table.responsive-table td:nth-child(2) {
        padding-left: 25%;
    }

        table.responsive-table td:nth-child(1):before,
        table.responsive-table td:nth-child(2):before {
            position: absolute;
            left: .5em;
            font-weight: bold;
        }

    table.responsive-table tr,
    table.responsive-table td {
        display: block;
    }

    table.responsive-table tr {
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }

    table.responsive-table td {
        border-top: none;
    }

        table.responsive-table td.organisationnumber {
            background: #D5E0CC;
            border-top: 1px solid #B3BFAA;
        }

        table.responsive-table td.actions {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: none;
        }
}

.ThanhToan__item-hoadons {
    height: 180px;
    background-color: var(--white-color);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    width: 96%;
    margin: 10px 0 10px 20px;
}

.ThanhToan__item-hoadon {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ThanhToan__hoadon {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0px 50px 5px 50px;
}

.check_box-ttss {
    padding-left: 784px;
}

.ThanhToan__naos {
    margin-left: 30px;
    padding-top: 14px;
    padding-bottom: 6px;
}

.ThanhToan__text {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.single-procduct-info{
    width:565px;
    padding-right:20px;
}

.notification {
    width: 300px;
    max-height: 300px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    display: none;
    z-index: 100;
    position: absolute;
    margin-top: 10px;
    overflow-y: auto;
    right: 0;
}

.header__navbar-item-link::before {
    position: absolute;
    bottom: -20px;
    left: 0px;
    content: "";
    border-style: solid;
    border-width: 10px 40px;
    opacity: 0;
}

.notification_item {
    padding-right: 10px
}

.notification_avata {
    margin: 5px 10px 5px 10px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid var(--text-color);
}

.notification_item-product {
    display: flex;
    overflow: auto;
}

.header__navbar-item:hover .notification {
    display: block;
}

.notification_info {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.6rem;
    padding: 0 10px;
    margin: 10px 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.header__cart-notices {
    position: absolute;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    line-height: 1.3rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    right: 78px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(228, 100, 91);
}

.slider_background {
    width: 100%;
    border-radius: 4px;
}





/* Form  */
.app_cantainer {
    width: 100vw;
    height: 100vh;
    background: url("/Images/background_form.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auth-form__switch-btn {
    text-decoration: none;
}

.auth-form {
    margin-top: 90px;
    margin-left: 680px;
}

.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
    margin: 10px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__headding {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn:hover {
    color: rgb(233, 105, 105);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    padding-bottom: 20px;
}

.auth-form__socail {
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__control-back {
    margin-right: 8px;
    color: rgb(13, 172, 40);
    background-color: aliceblue;
    border: 1px solid rgb(13, 172, 40);
}

.auth-form__socail-icon {
    font-size: 2rem;
}

.auth-form__socail--facebook {
    background-color: #1057e6ef;
}

.auth-form__socail--facebook,
.auth-form__socail--icon {
    color: var(--white-color);
}

.auth-form__socail--google {
    background-color: var(--white-color);
    color: rgb(16, 196, 55);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 18px;
    margin: 2px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-help {
    color: #939393;
}

.order__item {
    height: 60px;
    display: flex;
    align-items: center;
}

.order__item-cart {
    display: flex;
    margin-right: 4px;
    padding-left: 20px;
    text-decoration: none;
}

.order__item-logo {
    font-size: 3rem;
    padding-right: 8px;
    color: black;
}

.order__item-logo2 {
    font-size: 3rem;
    padding-right: 8px;
    color: var(--primary-color);
}

.order__item-text {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.order__body {
    width: 100%;
    background-color: rgb(237, 249, 250);
    box-shadow: 0 1px 2px #999;
    margin-top: 20px;
}

.order__body-item {
    height: 460px;
}

.order__body-icon {
    font-size: 7rem;
    color: var(--primary-color);
    text-align: center;
    padding-top: 16px;
}

.order__body-h3 {
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.order__body-text2 {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 20px;
    font-weight: 300;
    color: var(--text-color);
}

.fa-solid.fa-cart-plus {
    padding-right: 4px;
}

.fa-solid.fa-house {
    padding-right: 4px;
}

.order__body-text3 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    color: var(--text-color);
}

.order__body-return {
    display: flex;
    justify-content: center;
}

.return_btn {
    text-decoration: none;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    background-color: rgb(226, 232, 238);
}

    .return_btn:hover {
        background-color: rgb(169, 210, 243);
        cursor: pointer;
    }

.order__body-text4 {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--text-color);
}



.order__body-feedback {
    text-align: center;
}

.order__body-text4 {
    font-size: 1.4rem;
    font-weight: 100;
}
.no-product-items{
    width:700px;
    height:400px;
}
.no_product{
    width:100%;
    height:100%;
    margin-left:100px;
    margin-top:160px;
}
.no-product-btn{
    margin-top:370px;
}
.col-md-4{
    font-size:1.6rem;
}
.form-control{
    font-size:1.6rem;
}
.form-groups{
    display:flex;
    justify-content:space-evenly;
    margin-top:10px;
}
.form-items {
    margin-left: 320px;
}
.no_comment {
    width: 96%;
    padding-left: 20px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}
.no_comment-img{
    width:100%;
    height:100%;
}
.btn_return {
    background-color: white;
    border: 1px solid;
    text-decoration: none;
    width: 126px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.btn_return1 {
    background-color: white;
    border: 1px solid;
    text-decoration: none;
    width: 126px;
    margin-left: -560px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
/* PC */
@media (min-width: 1024px) {
    .header__logo {
        margin-left: 12px;
    }

    .header__navbar-list {
        margin-right: 34px;
    }

    .footer-cta.pt-5.pb-5 {
        padding-left: 40px;
    }

    .footer-content {
        padding-left: 40px;
    }

    .grid__row {
        padding-left: 10px;
        padding-right: 14px;
    }

}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header__logo {
        margin-left: 20px;
    }

    .header__navbar-list {
        margin-right: 40px;
    }

    .header__cart-list-item {
        height: 300px;
    }

    .grid__row2 {
        margin-left: 36px;
    }

    .grid__row {
        margin-right: 8px;
    }

    .category-item-link {
        width: 160px;
        margin-right: 10px;
    }

    .category-item-link {
        font-size: 1.2rem;
    }

    .category-heading {
        font-size: 1.4rem;
    }

    .category-item-pricess ul {
        font-size: 1rem;
    }

    .footer-cta.pt-5.pb-5 {
        padding-left: 40px;
    }

    .footer-content {
        padding-left: 40px;
    }

    .grid__column-4 {
        padding-left: 5px;
        padding-right: 5px;
        width: 25%;
        padding-bottom: 10px;
    }
}
/* Mobile */
@media (max-width: 740px) {
    .header {
        height: 90px;
    }

    .slider {
        margin-top: 88px
    }

    .header__logo {
        font-size: 2.6rem;
        padding-left: 10px;
    }

    .app__container {
        margin-top: -30px;
    }

    .header__cart-notices {
        margin-right: -11px;
        top: 8px;
    }

    .header__navbar-item, .header__navbar-item-link {
        font-size: 0.8rem;
    }

    .header__navbar-user-name {
        font-size: 0.8rem;
        margin-right: 10px;
    }

    .header__navbar-user-img {
        width: 26px;
        height: 26px;
        margin-bottom: -4px;
    }

    .header__search {
        height: 30px;
        width: 90px;
        display: flex;
        flex: 10;
    }

    .header__search-btn {
        width: 30px;
        height: 24px;
    }

    .header__search-btn-icon {
        font-size: 1rem;
    }

    .header__cart-notices {
        right: 55px;
        top: 7px;
        width: 6px;
        height: 6px;
    }

    .header__cart-icon {
        font-size: 1.6rem;
    }

    .header__cart-notice {
        font-size: 1rem;
        right: 0;
        padding: 1px 4px;
        line-height: 1rem;
    }

    .header__search-input {
        font-size: 0.8rem;
    }

    .header__cart {
        display: flex;
        flex: 3;
    }

    .header-with-search {
        height: 70px;
    }

    .grid__column-MB {
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
        padding-bottom: 10px;
    }
    /* .category-heading {
        font-size: 0.4rem;
    }
    .category-item-link {
        font-size: 0.4rem;
    } */
    .grid__row2 {
        margin-left: 0;
    }

    .slider_background {
        margin-left: 5px;
    }

    .notification {
        width: 200px;
    }

    .notification_info {
        font-size: 1rem;
    }

    .notification_avata {
        width: 40px;
        height: 40px;
        margin-top: 14px;
    }

    .header__cart-list {
        width: 200px;
    }

    .header__cart-list-item-name {
        font-size: 1rem;
    }

    .header__cart-img {
        width: 40px;
        height: 40px;
    }

    .header__cart-list-item {
        height: 40vh;
    }
}

.single-product-stars {
    background-color: var(--white-color);
    height: 60px;
    display: flex;
    width: 96%;
    margin-left: 20px;
}

.startss {
    margin: auto;
    font-size: 4rem;
    display: flex;
    background-color: var(--white-color);
    width: 96%;
    padding-left: 20px;
    padding-bottom: 20px;
}


.product__text {
    padding-top: 20px;
    display: flex;
    height: 240px;
    width: 96%;
    margin-left: 20px;
    background-color: var(--white-color);
}

.product__text-comment {
    width: 890px;
    min-height: 160px;
    font-size: 2rem;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 100px;
    padding-left: 20px;
}

.product__text-icon {
    display: flex;
    justify-content: flex-end;
    margin: 10px 30px 30px 30px;
}





input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

.start-itme {
    margin: auto;
}
/*    
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  } */

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.stars-move{
    margin-right:360px;
}
.product__text-item{
    margin-left:-38px;
}
.xac_nhan{
    padding-left:20px;
    padding-right:20px;
}
a{
    text-decoration:none;
}
.a-success {

    color:green;

}
.a-detail {
    color: blue;
}

.a-cancel{
    color:red;
}
.sonngu{
    width:200px;
}
.phantrang {
    width: 100%;
    display: flex;
    justify-content: center;
}
.phantrang1 {
    line-height: 100%;
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #3770d863;
}












  
  








