﻿@using FruitsWorld.Models
@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm đăng ký bán";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    Fruits_World.Models.DuyenPD.DAO.AccountDAO accDAO = new Fruits_World.Models.DuyenPD.DAO.AccountDAO();
}
<div class="page">
    <h1 class="page__title">Danh sách sản phẩm đăng ký bán</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Tên Shop</th>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Thông tin</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product item in @ViewBag.listFruits)
            {
                string price = double.Parse(item.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

                <tr>
                    <td class="organisationnumber">@accDAO.GetAccountUserNameByID(@item.id_Account)</td>
                    <td>
                        <img class="organisationnumber" src="@item.productImage" style="width:100px;height:100px;" />
                    </td>
                    <td class="organisationnumber">@item.productName</td>
                    <td class="organisationnumber">@item.productDescription</td>
                    <td class="organisationnumber">@price VND</td>
                    <td class="organisationnumber">@item.productQuantity</td>
                    <td class="organisationnumber">
                        <a style="color: green" href="#" onclick="accept(@item.id_Product,'2')" >Chấp nhận</a>
                        <a style="color: red"  href="#" onclick="cancel(@item.id_Product,'3')">Từ chối</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function accept(id, status) {
        var option = confirm("Bạn có chắc muốn chấp nhận sản phẩm này?");
        if (option === true) {
            window.location.href = '/Admin_ConfirmProduct/updateStatus?id='+id+'&&status='+status;
        }
    }
    function cancel(id, status) {
        var option = confirm("Bạn có chắc muốn từ chối sản phẩm này?");
        if (option === true) {
            window.location.href = '/Admin_ConfirmProduct/updateStatus?id='+id+'&&status='+status;
        }
    }
</script>