﻿@model FruitsWorld.Models.Account

@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/Info_Layout.cshtml";
}

<h1>Thay đổi mật khẩu</h1>

@if(ViewBag.Wrongpass != null)
{
    <h2 style="color:red">@ViewBag.Wrongpass</h2>
}
<div class="row">
    <div class="form-items">
    <div class="col-md-4">
        <form asp-action="account_UpdatePassword" asp-controller="account_UpdatePassword" onsubmit="return checkAllData()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="id_Account" class="form-control" />
                <span asp-validation-for="id_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label">Nhập mật khẩu củ</label>
                <input id="txtPasswordold" type="password"  asp-for="oldPassword" class="form-control" />
                <span  class="fa fa-fw fa-eye field-icon toggle-passwordold"></span>
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="password" class="control-label">Mật Khẩu mới</label>
                <input type="password" id="txtPassword" asp-for="password" class="form-control"  onblur="checkPassword()"/>
                <span  class="fa fa-fw fa-eye field-icon toggle-passwordnew"></span>
                <span  id="txtPasswordError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Nhập lại mật khẩu mới</label>
                <input type="password" id="txtConfirmPassword" asp-for="ConfirmPassword" class="form-control" onblur="checkConfirmPassword()"/>
                <span  class="fa fa-fw fa-eye field-icon toggle-passwordconfirm"></span>
                <span id="txtConfirmPasswordError" class="text-danger"></span>
            </div>
               <div class="form-groups">
                <input type="submit" value="Thay Đổi" class="btn btn-primary" />
                <a href="/Account_Information/accountInformation/" class="btn_return">Trở về</a>
            </div>
        </form>
    </div>
    </div>
</div>

<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
        color: #0000ff63;
    }
</style>
<script type="text/javascript">
    var patt_phone = /^0[1-9]\d{8,9}$/;
    var patt_username = /^[a-zA-Z0-9]+$/
        function checkPassword() {
            mk1 = document.getElementById("txtPassword").value;
            if(mk1.trim()== ""){
                document.getElementById("txtPasswordError").innerHTML = "Mật khẩu không được để trống";
            }else if(mk1.length < 8 && patt_username.test(mk1) == true){
                document.getElementById("txtPasswordError").innerHTML = "Mật khẩu phải từ 8 kí tự trở lên";
            }else if(patt_username.test(mk1) == false){
                document.getElementById("txtPasswordError").innerHTML = "Mật khẩu phải là kí tự và chữ số";
            }else{
                document.getElementById("txtPasswordError").innerHTML = "";
                return true;
            }
            return false;
        }

        function checkConfirmPassword() {
            mk1 = document.getElementById("txtPassword").value;
            mk2 = document.getElementById("txtConfirmPassword").value;
            document.getElementById("txtConfirmPasswordError").innerHTML = (mk1 != mk2) ?
                "Nhập lại mật khẩu không khớp!" : "";
            return mk1 == mk2;
        }       
       
        function checkAllData() {
            isValidPassword = checkPassword();
            isValidConfirmpassword = checkConfirmPassword();
            isValid = isValidPassword && isValidConfirmpassword;
            return isValid;
        }


            const eyeElementold = document.querySelector('.toggle-passwordold');
           const inputElementold = document.querySelector('#txtPasswordold');

           const eyeElementnew = document.querySelector('.toggle-passwordnew');
           const inputElementnew = document.querySelector('#txtPassword');

           const eyeElementconfirm = document.querySelector('.toggle-passwordconfirm');
           const inputElementconfirm = document.querySelector('#txtConfirmPassword');
           

           eyeElementold.onclick = function(e){
               if(inputElementold.type == 'password'){
                   inputElementold.setAttribute('type', 'text')
               }
               else{
                   inputElementold.setAttribute('type', 'password')
               }
           }

           eyeElementnew.onclick = function(e){
               if(inputElementnew.type == 'password'){
                   inputElementnew.setAttribute('type', 'text')
               }
               else{
                   inputElementnew.setAttribute('type', 'password')
               }
           }
           eyeElementconfirm.onclick = function(e){
               if(inputElementconfirm.type == 'password'){
                   inputElementconfirm.setAttribute('type', 'text')
               }
               else{
                   inputElementconfirm.setAttribute('type', 'password')
               }
           }
    </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
