﻿@using FruitsWorld.Models
@using Fruits_World.Models.ThachBN.DAO
@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Account>

@{
    ViewData["Title"] = "Danh sách khách hàng ủng hộ";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    AccountDAO accountDAO = new AccountDAO();
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); 

}

<div class="page">
    <h1 class="page__title">Khách hàng ủng hộ cao nhất trong 30 ngày gần đây</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Hình Ảnh</th>
                <th>Khách hàng</th>
                <th>Năm Sinh</th>
                <th>SĐT</th>
                <th>Địa Chỉ</th>
                <th>Số Tiền đã ủng hộ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Account account = accountDAO.getAccountbyID(@item.id_Account);
                string price = double.Parse(item.Money_buyAtWeb.ToString()).ToString("#,###", cul.NumberFormat);

                <tr>
                    <td class="organisationnumber"><img src="@account.avatar" style="width:50px;height:50px" /></td>
                    <td class="organisationnumber">@account.fullName</td>
                    <td class="organisationnumber">@account.birth</td>
                    <td class="organisationnumber">@account.sdt</td>
                    <td class="organisationnumber">@account.address</td>
                    @*<td class="organisationnumber">@account.id_Role</td>*@
                    <td class="organisationnumber">@price VND</td>
                </tr>
            }
        </tbody>
    </table>
</div>

