﻿@using System.Globalization

@{
    ViewData["Title"] = "Danh sách shop chất lượng";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<h1 class="page__title">Shop có chất lượng tốt nhất trong 30 ngày gần đây</h1>
@if (ViewBag.Acc != null)
{
    <div class="page">
        <table class="layout display responsive-table">
            <thead>
                <tr>
                    <th>Tài Khoản</th>
                    <th>Tên</th>
                    <th>Năm sinh</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Trung Bình Sao</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Acc)
            {
                <tbody>
                    <tr>
                        <td class="organisationnumber">@item.username</td>
                        <td class="organisationnumber">@item.fullName</td>
                        <td class="organisationnumber">@item.birth</td>
                        <td class="organisationnumber">@item.sdt</td>
                        <td class="organisationname">@item.address</td>
                        <td class="organisationname">@item.password</td>
                        <td class="organisationname"><a href="/Seller_Shop/Seller_Shop?id=@item.id_Account">Xem Shop</a></td>

                    </tr>
                </tbody>
            }
        </table>
    </div>
}


