﻿@model FruitsWorld.Models.Account

@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/Form_Layout.cshtml";
}


<!-- Đăng ký -->
<div class="auth-form">
    <div class="auth-form__container">
        @if (ViewBag.error != null)
    {
        <h2 style="color:red">@ViewBag.error</h2>
    }
        <div class="auth-form__header">
            <h3 class="auth-form__headding">Đăng Ký</h3>
            <a href="/Login/Login" class="auth-form__switch-btn">Đăng Nhập</a>
        </div>
        <form asp-action="Register" asp-controller="Register" onsubmit="return checkAllData()">
            <div class="auth-form__form">
                <div class="auth-form__group">
                    <input onblur="checkUsername()" autocomplete="off" id="txtUsername" asp-for="username" type="text" class="auth-form__input" placeholder="Nhập Tài Khoản">
                    <span id="txtUsernameError" class="text-danger"></span>
                </div>
                <div class="auth-form__group">
                    <input onblur="checkPassword()" type="password" id="txtPassword" asp-for="password" class="auth-form__input" placeholder="Nhập Mật Khẩu">
                    <span  class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <span id="txtPasswordError" class="text-danger"></span>
                </div>
                <div class="auth-form__group">
                    <input onblur="checkConfirmPassword()" type="password" id="txtConfirmPassword" asp-for="ConfirmPassword" class="auth-form__input" placeholder="Nhập Lại Mật Khẩu">
                    <span  class="fa fa-fw fa-eye field-icon toggle-confirmpassword"></span>
                    <span id="txtConfirmPasswordError" class="text-danger"></span>
                </div>
                <div class="auth-form__group">
                    <input onblur="checkFullname()" autocomplete="off" value="" id="txtFullName" asp-for="fullName" type="text" class="auth-form__input" placeholder="Họ Và Tên">
                    <span id="txtFullNameError" class="text-danger"></span>
                </div>
            </div>

            <div class="auth-form__aside">
                <p class="auth-form__policy-text">
                    Bằng việc đăng ký bạn đồng ý với Fruitworld về
                    <a href="" class="auth-form__text-link">điều khoản dịch vụ</a> &
                    <a href="" class="auth-form__text-link">chính sách bảo mật</a>
                </p>
            </div>

            <div class="auth-form__control">
                <a href="/Login/Login" class="btn btn--nomal auth-form__control-back">TRỞ LẠI</a>
                <input type="submit" class="btn btn--primary" value="ĐĂNG KÝ"/>
            </div>
        </form>
    </div>
</div>
<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: 30px;
        position: relative;
        z-index: 2;
        color: #0000ff63;
    }
</style>
<script type="text/javascript">
    var patt_phone = /^0[1-9]\d{8,9}$/;
    var patt_username = /^[a-zA-Z0-9]+$/

        function checkUsername() {
            var tk = document.getElementById("txtUsername").value;
            if(tk.trim()== ""){
                document.getElementById("txtUsernameError").innerHTML = "Tài khoản không được để trống";
            }else if(tk.length < 8 && patt_username.test(tk) == true){
                document.getElementById("txtUsernameError").innerHTML = "Tài khoản phải từ 8 kí tự trở lên";
            }else if(patt_username.test(tk) == false){
                document.getElementById("txtUsernameError").innerHTML = "Tài khoản phải là kí tự và chữ số";
            }else{
                document.getElementById("txtUsernameError").innerHTML = "";
                return true;
            }
            return false;
        }
        function checkPassword() {
            mk1 = document.getElementById("txtPassword").value;
            if(mk1.trim()== ""){
                document.getElementById("txtPasswordError").innerHTML = "Mật khẩu không được để trống";
            }else if(mk1.length < 8 && patt_username.test(mk1) == true){
                document.getElementById("txtPasswordError").innerHTML = "Mật khẩu phải từ 8 kí tự trở lên";
            }else if(patt_username.test(mk1) == false){
                document.getElementById("txtPasswordError").innerHTML = "Mật khẩu phải là kí tự và chữ số";
            }else{
                document.getElementById("txtPasswordError").innerHTML = "";
                return true;
            }
            return false;
        }

        function checkConfirmPassword() {
            mk1 = document.getElementById("txtPassword").value;
            mk2 = document.getElementById("txtConfirmPassword").value;
            document.getElementById("txtConfirmPasswordError").innerHTML = (mk1 != mk2) ?
                "Nhập lại mật khẩu không khớp!" : "";
            return mk1 == mk2;
        }
        function checkFullname() {
            tk = document.getElementById("txtFullName").value;
            document.getElementById("txtFullNameError").innerHTML = tk.trim() == "" ? "Họ và tên không được để trống!" : "";
            return tk != "" ? true : false;
        }
         function checkBirth() {
            birth = document.getElementById("txtBirth").value;
            if(birth > 1900 && birth < 2023){
                document.getElementById("txtBirthError").innerHTML = "";
                return true;
            }else if(birth.trim()==""){
                document.getElementById("txtBirthError").innerHTML = "Năm sinh không được để trống";
                return false;
            } else{
                document.getElementById("txtBirthError").innerHTML = "Năm sinh phải lớn hơn 1900 và nhỏ hơn 2023!";
                return false;
            }
        }
        function checkAddress() {
            address = document.getElementById("txtAddress").value;
            document.getElementById("txtAddressError").innerHTML = address.trim() == "" ? "Địa chỉ không được để trống!" : "";
            return address != "" ? true : false;
        }
        function checkPhone() {
            phone = document.getElementById("txtSdt").value;
            if(phone.trim() == ""){
                document.getElementById("txtSdtError").innerHTML = "Số điện thoại không được để trống!";
            }else if(patt_phone.test(phone)== false){
                document.getElementById("txtSdtError").innerHTML = "Định dạng số điện thoại không đúng! (bắt đầu từ 0 và phải 10-11 kí tự!)";
            }else{
                document.getElementById("txtSdtError").innerHTML = "";
                return true;
            }
            return false;
        }

        function checkAllData() {
            isValidUsername = checkUsername();
            isValidPassword = checkPassword();
            isValidConfirmpassword = checkConfirmPassword();
            isValidFullname = checkFullname();
            isValid = isValidUsername && isValidPassword && isValidConfirmpassword && isValidFullname;
            return isValid;
        }


           const eyeElementpass = document.querySelector('.toggle-password');
           const inputElementpass = document.querySelector('#txtPassword');

           const eyeElementconfirm = document.querySelector('.toggle-confirmpassword');
           const inputElementconfirm = document.querySelector('#txtConfirmPassword');
           

           eyeElementpass.onclick = function(e){
               if(inputElementpass.type == 'password'){
                   inputElementpass.setAttribute('type', 'text')
               }
               else{
                   inputElementpass.setAttribute('type', 'password')
               }
           }

           eyeElementconfirm.onclick = function(e){
               if(inputElementconfirm.type == 'password'){
                   inputElementconfirm.setAttribute('type', 'text')
               }
               else{
                   inputElementconfirm.setAttribute('type', 'password')
               }
                  


           }
</script>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
