﻿@model FruitsWorld.Models.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
}

<h1>Thay đổi thông tin trái cây</h1>

<h4>Product</h4>
<hr />
<h1>@ViewBag.test</h1>
<div class="row">
      <div class="form-items">
    <div class="col-md-4">
        <form asp-action="Seller_updateProductInformation" asp-controller="Seller_ProductManage" enctype="multipart/form-data" onsubmit="return checkAllData()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type = "hidden" asp-for="id_Product" class="form-control" />
                <span asp-validation-for="id_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type = "hidden" asp-for="id_Account" class="form-control" />
                <span asp-validation-for="id_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input id="txtproductName" asp-for="productName" class="form-control" autocomplete="off" onblur="checkProductName()"/>
                <span id="txtproductNameError" asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="1" asp-for="productImage" class="form-control" />
                <span asp-validation-for="productImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh sản phẩm</label>
                <input type="file" name="avatar" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productDescription" class="control-label"></label>
                <input id="txtproductDes" asp-for="productDescription" class="form-control" autocomplete="off" onblur="checkProductDes()"/>
                <span id="txtproductDesError" asp-validation-for="productDescription" class="text-danger"></span>
            </div>
              <div class="form-groups">
                <input type="submit" value="Nạp" class="btn btn-primary" />
                <a href="/Seller_ProductManage/Seller_ProductShow" class="btn_return">Trở về</a>
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">

        function checkProductName() {
            tk = document.getElementById("txtproductName").value;
            document.getElementById("txtproductNameError").innerHTML = tk.trim() == "" ? "Tên sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
        function checkProductDes() {
            tk = document.getElementById("txtproductDes").value;
            document.getElementById("txtproductDesError").innerHTML = tk.trim() == "" ? "Thông tin sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
       
        function checkAllData() {
            isValidProductName = checkProductName();
            isValidProductDes = checkProductDes();
            isValid = isValidProductName && isValidProductDes;
            return isValid;
        }
    </script>