﻿@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Product>

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); 
}


<div class="page">
    <h1 class="page__title">Thông tin Sản Phẩm</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>ID Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Ảnh Sản Phẩm</th>
                <th>Thông Tin Sản Phẩm</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Điều chỉnh</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string a = double.Parse(item.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

                <tr>
                    <td class="organisationnumber">@item.id_Product</td>
                    <td class="organisationnumber">@item.productName</td>
                    <td class="organisationnumber"><img src="@Html.DisplayFor(modelItem => item.productImage)" style="width:100px;height:100px;" /></td>
                    <td class="organisationnumber">@item.productDescription</td>
                    <td class="organisationname">@a VND</td>
                    <td class="organisationnumber">@item.productQuantity</td>
                    <td>
                        <div class="show1">
                        @Html.ActionLink("Thông tin", "Seller_updateProductInformation", new { id = @item.id_Product }, new{@class="a-detail"})
                        </div>
                        <br>
                       <div class="show1">
                        @Html.ActionLink("Giá, số lượng", "Seller_updateProduct", new { id = @item.id_Product },new{@class="a-success"})
                       </div>
                       <br>
                        <a href="#" class="a-cancel" onclick="showMess(@item.id_Product)">Xóa</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>

</div>

<script>
    function showMess(idsp) {
        var option = confirm("Bạn có chắc muốn xóa Sản Phẩm này?");
        if (option === true) {
            window.location.href = '/Seller_ProductManage/deleteProduct/?idsp='+idsp;
        }

    }
</script>


