﻿@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Product>

@{
    ViewData["Title"] = "Sản phẩm - chờ xác nhận";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); 
}


<div class="page">
    <h1 class="page__title">Thông tin Sản Phẩm</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>ID Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Ảnh Sản Phẩm</th>
                <th>Thông Tin Sản Phẩm</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Trạng Thái</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string a = double.Parse(item.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

                <tr>
                    <td class="organisationnumber">@item.id_Product</td>
                    <td class="organisationnumber">@item.productName</td>
                    <td class="organisationnumber"><img src="@Html.DisplayFor(modelItem => item.productImage)" style="width:100px;height:100px;" /></td>
                    <td class="organisationnumber">@item.productDescription</td>
                    <td class="organisationname">@a VND</td>
                    <td class="organisationnumber">@item.productQuantity</td>
                    <td>
                        Đang chờ xác nhận ....
                    </td>
                </tr>

            }

        </tbody>
    </table>

</div>


