﻿@model FruitsWorld.Models.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "~/Views/Shared/Seller_Layout.cshtml";
}

<h1>Thay đổi thông tin trái cây</h1>

<h4>Product</h4>
<hr />
<h1>@ViewBag.test</h1>
<div class="row">
       <div class="form-items">
    <div class="col-md-4">
        <form asp-action="Seller_updateProduct" asp-controller="Seller_ProductManage" onsubmit="return checkAllData()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="id_Product" class="form-control" readonly />
                <span asp-validation-for="id_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" autocomplete="off" onblur="checkProductName()" readonly/>
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productPrice" class="control-label"></label>
                <input id="txtproductPrice" asp-for="productPrice" class="form-control" autocomplete="off" onblur="checkProductPrice()"/>
                <span id="txtproductPriceError" asp-validation-for="productPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productQuantity" class="control-label"></label>
                <input id="txtproductQuantity" asp-for="productQuantity" class="form-control" autocomplete="off" onblur="checkProductQuantity()"/>
                <span id="txtproductQuantityError" asp-validation-for="productQuantity" class="text-danger"></span>
            </div>
            <div class="form-groups">
                <input type="submit" value="Nạp" class="btn btn-primary" />
                <a href="/Seller_ProductManage/Seller_ProductShow" class="btn_return">Trở về</a>
            </div>
        </form>
    </div>
        </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">

        function checkProductPrice() {
            tk = document.getElementById("txtproductPrice").value;
            document.getElementById("txtproductPriceError").innerHTML = tk.trim() == "" ? "Giá sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }
        function checkProductQuantity() {
            tk = document.getElementById("txtproductQuantity").value;
            document.getElementById("txtproductQuantityError").innerHTML = tk.trim() == "" ? "Số lượng sản phẩm không được để trống!" : "";
            return tk != "" ? true : false;
        }

       
        function checkAllData() {

            isValidProductPrice = checkProductPrice();
            isValidProductQuantity = checkProductQuantity();
            isValid = isValidProductPrice && isValidProductQuantity;
            return isValid;
        }
    </script>