﻿@using System.Globalization
@model IEnumerable<FruitsWorld.Models.Product>

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/Info_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

<div class="grid__row">
    @foreach (var item in Model)
    {
    string Price = double.Parse(item.productPrice.ToString()).ToString("#,###", cul.NumberFormat);
        <!-- San pham -->
        <div class="grid__column-2-4">
            <a class="home-product-item" href="/Product_Information/product_Information/@item.id_Product">
                <div class="home-product-item-img" style="background-image: url(@item.productImage);"></div>
                <h4 class="home-product-item-name">@item.productName </h4>
                <div class="home-product-item-price">
                    <span class="home-product-item-price-old">100.000 VNĐ</span>
                    <span class="home-product-item-price-new">@Price VNĐ</span>
                </div>
                <div class="home-product-item-origin">
                    <span class="home-product-item-origin-name">Thái Lan</span>
                </div>
            </a>
        </div>
    }
</div>


