﻿@using System.Globalization
@{
    ViewData["Title"] = "Người bán đỉnh cao";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); 

}

@if (ViewBag.Acc != null)
{
    <div class="page">
        <h1 class="page__title">Shop có doanh thu cao trong 30 ngày gần đây</h1>
        <table class="layout display responsive-table">
            <thead>
                <tr>
                    <th>Tài Khoản</th>
                    <th>Tên</th>
                    <th>Năm sinh</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Tổng doanh thu</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Acc)
            {
                string price = double.Parse(item.oldPassword.ToString()).ToString("#,###", cul.NumberFormat);

                <tbody>

                    <tr>
                        <td class="organisationnumber">@item.username</td>
                        <td class="organisationnumber">@item.fullName</td>
                        <td class="organisationnumber">@item.birth</td>
                        <td class="organisationnumber">@item.sdt</td>
                        <td class="organisationname">@item.address</td>
                        <td class="organisationname">@price VND</td>
                        <td class="organisationnumber">
                            <a href="/Seller_Shop/Seller_Shop?id=@item.id_Account">Xem Shop</a></td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}



