﻿@using Fruits_World.Models.DuyenPD.DAO

@{
    ViewData["Title"] = "Thống kê hóa đơn";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@{
    BillDAO BillDAO = new BillDAO();
    AccountDAO accountDAO = new AccountDAO();
}


<div class="page">
    <h1 class="page__title">Thông tin khách hàng</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Id Hoá đơn</th>
                <th>Username khách hàng</th>
                <th>Username saller</th>
                <th>Ngày lập hoá đơn</th>
                <th>Trạng thái đơn hàng</th>
                <th>Phương thức thanh toán của khách hàng</th>
                <th>Hành động</th>

            </tr>
        </thead>
        <tbody>

             @foreach (var item in ViewBag.listBill)
                {
                    <tr>
                        <td class="organisationname">@item.id_Order</td>
                        <td class="organisationnumber">
                            <a href="/InfoAccount/InfoAccountByID?idAcc=@item.id_Customer">
                                @accountDAO.GetAccountUserNameByID(@item.id_Customer)
                            </a>
                        </td>
                        <td class="organisationnumber">
                            <a href="/Seller_Shop/Seller_Shop?id=@item.id_Seller">
                                @accountDAO.GetAccountUserNameByID(@item.id_Seller)
                            </a>
                        </td>
                        <td class="organisationnumber">@item.dateTime</td>
                        <td class="organisationname">@BillDAO.GetStatusNameOfBill(@item.id_Status)</td>
                        <td class="organisationname">@BillDAO.GetStatusNameOfPayment(@item.id_PaymentMethod)</td>
                        <td class="organisationnumber">
                            <a href="/InfoProduct/InfoProductByIDBill?idBill=@item.id_Order">
                                Xem hoá đơn
                            </a>
                        </td>
                    </tr>
                }

           
        </tbody>
    </table>

</div>



