﻿@using System.Globalization
@{
    ViewData["Title"] = "Thống kê doanh thu";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

}
<h1 class="page__title">Top doanh thu theo tháng năm : @ViewBag.Year</h1>

@if (ViewBag.listAcc != null)
{
    var thang = 12;
    @foreach (var list in ViewBag.listAcc)
    {
        @if (list.Count > 0)
        {
            <h1 style="color: red">Thang @thang</h1>
            <div class="page">
                <table class="layout display responsive-table">
                    <thead>
                        <tr>
                            @*<th>ID_Tài Khoản</th>*@
                            <th>Tài Khoản</th>
                            <th>Tên</th>
                            <th>Năm sinh</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Doanh thu của shop</th>
                            <th>Phần trăm lợi nhuận 3%</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    @foreach (var item in list)
                    {
                        string revenue = double.Parse(item.oldPassword).ToString("#,###", cul.NumberFormat);
                        string amountforAdmin = double.Parse(item.password).ToString("#,###", cul.NumberFormat);

                        <tbody>
                            <tr>
                                <td class="organisationnumber">@item.username</td>
                                <td class="organisationnumber">@item.fullName</td>
                                <td class="organisationnumber">@item.birth</td>
                                <td class="organisationnumber">@item.sdt</td>
                                <td class="organisationname">@item.address</td>
                                <td class="organisationname">@revenue VND</td>
                                <td class="organisationname">@amountforAdmin VND</td>
                                <td class="organisationnumber">
                                    <a href="/Seller_Shop/Seller_Shop?id=@item.id_Account">
                                        Xem shop
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        }
        thang--;
    }
}

<ul class="pagination home-product__pagination">
    @if (ViewBag.Page != 1 && ViewBag.Page > 1)
    {
        var left = ViewBag.Page - 1;
        <li class="pagination-item">
            <a href="/StatisticsOfAdmin/MonthlyRevenue?page=@left" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-left">
                </i>
            </a>
        </li>
    }
    @for (var i = 1; i <= 5; i++)
    {
        @if (ViewBag.Page == i)
        {
            <li class="pagination-item pagination-item-active">
                <a style="background-color: #3770d863" href="/StatisticsOfAdmin/MonthlyRevenue?page=@i" class="pagination-item__link">@i</a>
            </li>
        }
        else
        {
            <li class="pagination-item pagination-item-active">
                <a href="/StatisticsOfAdmin/MonthlyRevenue?page=@i" class="pagination-item__link">@i</a>
            </li>
        }

    }
    @if (ViewBag.Page < 5)
    {
        var right = ViewBag.Page + 1;
        <li class="pagination-item">
            <a href="/StatisticsOfAdmin/MonthlyRevenue?page=@right" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-right">
                </i>
            </a>
        </li>
    }
</ul>