﻿@using Fruits_World.Models.DuyenPD.DAO
@using System.Globalization
@{
    ViewData["Title"] = "Sản phẩm bán chạy";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@{
    ProductDAO productDAO = new ProductDAO();
    AccountDAO accountDAO = new AccountDAO();
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

}


<div class="page">
    <h1 class="page__title">Sản Phẩm Có Doanh Thu Cao trong 30 ngày gần đây</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Username Shop</th>
                <th>Ảnh Sản Phẩm</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Số Lượng Đã Bán</th>
                <th>Hành động</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.product)
            {
                string price = double.Parse(item.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

                <tr>
                    <td class="organisationnumber">@accountDAO.GetAccountUserNameByID(@item.id_Account)</td>
                    <td>

                        <img class="organisationnumber" src=@item.productImage style="width: 40px; height=40px">
                    </td>
                    <td class="organisationnumber">@item.productName</td>
                    <td class="organisationnumber">@price VND</td>
                    <td class="organisationnumber">@productDAO.GetNumberOfProductsSold(@item.id_Product)</td>
                    <td class="organisationnumber">
                        <a href="/Product_Information/product_Information/@item.id_Product">
                            Xem sản phẩm
                        </a>
                    </td>

                </tr>
            }


        </tbody>
    </table>

</div>