﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using FruitsWorld.Models
@using Fruits_World.Models.SonNN.DAO
@using Fruits_World.Models.DuyenPD.DAO

@*@{
    HistorySearchDAO historySearchDAO = new HistorySearchDAO();
    string idsession = @HttpContextAccessor.HttpContext.Session.GetString("id");
    var listHistorySearch = historySearchDAO.ListSearchHistory(idsession);
    }*@
@{
    if (HttpContextAccessor.HttpContext.Session.GetString("id") == null)
    {
        HttpContextAccessor.HttpContext.Session.SetString("id", "0");
    }
    Fruits_World.Models.SonNN.DAO.AccountDAO accountDAO = new Fruits_World.Models.SonNN.DAO.AccountDAO();
    Fruits_World.Models.SonNN.DAO.CartDAO cartDAO = new Fruits_World.Models.SonNN.DAO.CartDAO();
    Fruits_World.Models.SonNN.DAO.ProductDAO productDAO = new Fruits_World.Models.SonNN.DAO.ProductDAO();
    string idAccount = HttpContextAccessor.HttpContext.Session.GetString("id");
    List<Notification> notifications = accountDAO.getAllNotification(idAccount);
    int totalNotification = accountDAO.getNumberNotification(idAccount);
    int numberCart = cartDAO.getNumberofCart(idAccount);
    List<Cart> listCart = cartDAO.getAllCartbyID(idAccount);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fruits_World</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fruits_World.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font/fontawesome-free-6.0.0-web/css/all.css">
</head>

<body>
    <div class="app">

        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <div class="header__navbar-item">
                            <div class="header__navbar-avata">
                                <a class="header__navbar-item-link"><i class="fa-solid fa-bell"></i> Thông báo</a>
                                @if (totalNotification > 0)
                                {
                                    <span class="header__cart-notices"></span>
                                }
                                <div class="notification">
                                    <ul class="notification_item">
                                        @foreach (Notification notification in notifications)
                                        {
                                            if (!notification.isWatch)
                                            {
                                                <li class="notification_item-product">
                                                    <div>
                                                        <p class="notification_info">
                                                            @notification.Noidung
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p class="notification_info">
                                                            @notification.dateTime
                                                        </p>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="notification_item-product">
                                                    <div>
                                                        <p style="opacity:0.5;" class="notification_info">
                                                            @notification.Noidung
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p style="opacity:0.5;" class="notification_info">
                                                            @notification.dateTime
                                                        </p>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <li class="header__navbar-item">
                            <a href="#footer" class="header__navbar-item-link">Liên Hệ</a>
                        </li>
                        <!-- <li class="header__navbar-item header__navbar-item--bold">Đăng ký</li>
                        <li class="header__navbar-item header__navbar-item--bold">Đăng nhập</li> -->
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("id") != null && @HttpContextAccessor.HttpContext.Session.GetString("id") != "0")
                        {
                            <li class="header__navbar-item header__navbar-user">
                                <a href="/Account_Information/accountInformation/@HttpContextAccessor.HttpContext.Session.GetString("id")">
                                <img src="@HttpContextAccessor.HttpContext.Session.GetString("avatar")" alt="" class="header__navbar-user-img">
                                <span style="color:white;" class="header__navbar-user-name">@HttpContextAccessor.HttpContext.Session.GetString("username")</span>
                                </a>
                                <ul class="header__navbar-user-menu">
                                    <li class="header__navbar-user-item">
                                        <a href="/Account_Information/accountInformation/@HttpContextAccessor.HttpContext.Session.GetString("id")">Tài khoản của tôi</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="/Order_Show/Order_ReceivedProduct">Lịch sử mua hàng</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="/Account_Information/accountInformation/">Địa chỉ của tôi</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="/Login/LogOut">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="header__navbar-item">
                                <a href="/Login/Login" class="header__navbar-item-link">Đăng nhập</a>
                            </li>
                        }

                    </ul>
                </nav>

                <div class="header-with-search">
                    <div class="header__logo">
                        <i class="header__logo-header fas fa-dice-d20"></i>
                        <a href="/Home/Index" class="header__logo-text">FruitsWorld</a>
                        </i>
                    </div>

                    <form class="Search" asp-controller="FindProduct" asp-action="Search" autocomplete="off">
                        <div class="header__search">
                            <div class="header__search-input-wrap">
                                <input type="text" name="option" hidden value=@ViewBag.Option class="header__search-input">
                                <input type="text" required name="searchContent" class="header__search-input" placeholder="Nhập tìm kiếm sản phẩm">

                                <!--Search history-->
                                @*<div class="header__search-history">
                                    <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                                    <ul class="header__search-history-list">*@


                                @*@foreach (var item in listHistorySearch)*@
                                @*{*@
                                @*<li class="header__search-history-item">*@
                                @*<a href="">@item.Noidung</a>*@
                                @*@Html.ActionLink(@item.Noidung, "SearchByName","FindProduct", new { searchContent = @item.Noidung })*@

                                @*</li>*@
                                @*}*@

                                @*</ul>
                                    </div>*@
                            </div>
                            <button class="header__search-btn" type="submit">
                                <i class="header__search-btn-icon fas fa-search"></i>
                            </button>
                        </div>
                    </form>

                    <!-- Cart layout -->
                    <div class="header__cart">

                        <div class="header__cart-wrap">
                            <a href="/Cart_Manage/Cart_Show">
                                <i class="header__cart-icon fas fa-shopping-cart"></i>
                                <span class="header__cart-notice">@numberCart</span>
                            </a>


                            <!-- San pham duoc them vao do hang -->
                            <!-- No Card: header__cart-list--no-cart   -->
                            <div class="header__cart-list ">
                                <img src="/assets/img/no_cart/emptycart.webp" alt="" class="header__cart-no-cart-img">
                                <span class="header__cart-list-no-cart-msg"></span>
                                <!-- Chưa có sản phẩm -->
                                <!-- Co san pham -->
                                <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                <ul class="header__cart-list-item">
                                    @foreach (Cart cart in listCart)
                                    {
                                        Product product = productDAO.getProductbyId(cart.id_Product);
                                        <a href="/Cart_Manage/Cart_Show" style="text-decoration:none;">
                                        <li class="header__cart-item">
                                            <img src="@product.productImage" alt="" class="header__cart-img">
                                            <div class="header__cart-list-item-info">
                                                <div class="header__cart-list-item-head">
                                                    <h5 class="header__cart-list-item-name">@product.productName</h5>
                                                    <span class="header__cart-list-item-price">@product.productPrice</span>
                                                </div>
                                                <div class="header__cart-list-item-body">
                                                    <div class="header__cart-list-item-wr">
                                                        <span class="header__cart-list-item-multiply">Số lượng:</span>
                                                        <span class="header__cart-list-item-qantity">@cart.quantity</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        </a>
                                    }


                                </ul>
                                <a href="/Cart_Manage/Cart_Show" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    @RenderBody()

    <!-- footer -->
    <footer id="footer" class="footer-section">
        <div class="grid">
            <div class="grid__row">
                <div class="container">
                    <div class="footer-cta pt-5 pb-5">
                        <div class="row">
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="cta-text">
                                        <h4>Find us</h4>
                                        <span class="">Đại học FPT Cần Thơ cầu Rau Răm, đường Nguyễn Văn Cừ nối dài, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="fas fa-phone"></i>
                                    <div class="cta-text">
                                        <h4>Call us</h4>
                                        <a style="color:white; text-decoration-style: solid" href="tel:0788751148">0788751148</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="far fa-envelope-open"></i>
                                    <div class="cta-text">
                                        <h4>Mail us</h4>
                                        <a style="color:white" href="mailto: DuyenNPCE150850@fpt.edu.vn">DuyenNPCE150850@fpt.edu.vn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-content pt-5 pb-5">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 mb-50">
                                <div class="footer-widget">
                                    <div class="footer-text">
                                        <p>Cửa hàng của chúng tôi chuyên cung cấp các loại trái cây chất lượng từ toàn quốc đảm bảo chất lượng tốt nhất cho người dùng.</p>
                                    </div>
                                    <div class="footer-social-icon">
                                        <span>Follow us</span>
                                        <a target="_blank" href="https://www.facebook.com/duyennp7901"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/in/duyennp7901/"><i class="fa-brands fa-linkedin"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <div class="footer-widget-heading">
                                    </div>
                                    <div class="footer-text mb-25">
                                        <p>Nếu khách hàng có bất cứ thắt mắc gì về sản phẩm của chúng tôi. Vui lòng liên hệ qua Hotline.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                                <div class="footer-widget">
                                    <div class="footer-widget-heading">
                                        <h3>Subscribe</h3>
                                    </div>
                                    <div class="footer-text mb-25">
                                        <p>Đừng bỏ lỡ những thông tin mới nhất từ chúng tôi. Xin cảm ơn.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

    $(".header__navbar-avata").hover(function(){
        $.ajax({
            url: '/Account_Notification/setIsWatch/?id='+'@HttpContextAccessor.HttpContext.Session.GetString("id")',

        });
        $(".header__cart-notices").css("display", "none");
    });

</script>
