﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

@if (ViewData["Title"].Equals("Trang Chủ"))
{
    <div class="grid">
        <div class="grid__row">
            <div class="slider">
                <img src="/Images/slider.jpg" alt="" class="slider_background">
            </div>

        </div>
    </div>
}

<!-- Body -->
<div class="app1__container">
    <div class="grid1">
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category-heading">
                        <i class="fa-solid fa-list-ul"></i>
                        Danh Mục
                    </h3>
                    <ul class="category-list">
                        <li class="category-item  ca  tegory-item-active">

                            <a href="/Home/Index" class="category-item-link"> <i class="fa-solid fa-house"></i> Trang chủ</a>
                        </li>
                        <li class="category-item  ca  tegory-item-active">
                            <a href="/Product_Show/Product_Show" class="category-item-link"><i class="fa-brands fa-product-hunt"></i> Sản phẩm</a>
                        </li>
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32("role") == 1)
                        {
                            <li class="category-item">
                                <a href="/Seller_ProductManage/Seller_ProductShow" class="category-item-link"><i class="fa-solid fa-shop"></i>  Đi đến Shop</a>
                            </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32("role") == 0)
                        {
                            <li class="category-item">
                                <a href="/Admin_ConfirmSeller/admin_listRegistedtoSeller" class="category-item-link"><i class="fa-solid fa-shop"></i>  Đi đến Admin</a>
                            </li>
                        }
                        <li class="category-item">
                            <a href="#" class="category-item-link"><i class="fa-solid fa-money-bill-1"></i> Giá cả</a>
                            <div class="category-item-price">
                                <ul class="li">
                                    @Html.ActionLink("0 vnd - 100.000 vnd", "Search","FindProduct", new { searchContent = @ViewBag.SearchContent, option = 1 })
                                </ul>
                                <ul class="li">
                                    @Html.ActionLink("100.000 vnd - 200.000vnd", "Search","FindProduct", new { searchContent = @ViewBag.SearchContent, option = 2 })
                                </ul>
                                <ul class="li">
                                    @Html.ActionLink("200.000 vnd - 500.000 vnd", "Search","FindProduct", new { searchContent = @ViewBag.SearchContent, option = 3 })
                                </ul>
                                <ul class="li">
                                    @Html.ActionLink("500.000 vnd trở lên", "Search","FindProduct", new { searchContent = @ViewBag.SearchContent, option = 4 })
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)
