﻿@{
    ViewData["Title"] = "Fruit Wrold";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<!-- Body -->
<div class="app__container">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category-heading">
                        <i class="fa-solid fa-list-ul"></i>
                        Danh Mục
                    </h3>
                    <ul class="category-list">
                        <li class="category-item  category-item-active">

                            <a href="/Home/Index" class="category-item-link"> <i class="fa-solid fa-house"></i> Trang chủ</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Admin_ConfirmSeller/admin_listRegistedtoSeller" class="category-item-link"><i class="fa-solid fa-id-card-clip"></i> Đăng ký bán hàng</a>
                        </li>
                        <li class="category-item">
                            <a href="/Admin_ConfirmProduct/admin_listRegistedProduct" class="category-item-link"><i class="fa-brands fa-product-hunt"></i> Đăng ký sản phẩm</a>
                        </li>
                        <li class="category-item">
                            <a href="/Admin_EditAccount/admin_EditAccount" class="category-item-link"><i class="fa-solid fa-user"></i> Thông tin khách hàng</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/StatisticsOfAdmin/ProductSoldMost" class="category-item-link"><i class="fa-solid fa-bag-shopping"></i>Sản phẩm doanh thu cao</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/StatisticsOfAdmin/BestSaller" class="category-item-link"><i class="fa-solid fa-shop"></i> Shop doanh thu cao</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Admin_Statistics/BestSallerStars" class="category-item-link"><i class="fa-solid fa-shop"></i> Shop chất lượng cao</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/StatisticsOfAdmin/Bill" class="category-item-link"><i class="fa-brands fa-usps"></i> Trạng thái đơn hàng</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Admin_Statistics/Admin_ListAccountBuyMostAtShop" class="category-item-link"><i class="fa-solid fa-users"></i> Customer nổi bật</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/StatisticsOfAdmin/MonthlyRevenue" class="category-item-link"><i class="fa-solid fa-money-check-dollar"></i> Thống kê lợi nhuận</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)

