﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using FruitsWorld.Models
@using Fruits_World.Models.SonNN.DAO
@using Fruits_World.Models.DuyenPD.DAO

@*@{
    HistorySearchDAO historySearchDAO = new HistorySearchDAO();
    string idsession = @HttpContextAccessor.HttpContext.Session.GetString("id");
    var listHistorySearch = historySearchDAO.ListSearchHistory(idsession);
    }*@
@{
    if (HttpContextAccessor.HttpContext.Session.GetString("id") == null)
    {
        HttpContextAccessor.HttpContext.Session.SetString("id", "0");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fruits_World</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fruits_World.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font/fontawesome-free-6.0.0-web/css/all.css">

</head>

<body>
    <div class="app_cantainer">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
