﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Info_Layout";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<!-- Body -->
<div class="app1__container">
    <div class="grid1">
        <div class="grid__row">

            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category-heading">
                        <i class="fa-solid fa-list-ul"></i>
                        Danh Mục
                    </h3>
                    <ul class="category-list">
                        <li class="category-item  ca  tegory-item-active">
                            <a href="/Home/Index" class="category-item-link"> <i class="fa-solid fa-house"></i> Trang chủ</a>
                        </li>
                        <li class="category-item  ca  tegory-item-active">
                            <a href="/Account_Information/accountInformation?id=@ViewBag.idInfo" class="category-item-link"> <i class="fa-solid fa-user"></i> Tài khoản của tôi</a>
                        </li>
                        <li class="category-item">
                            <a href="/Account_updateMoney/account_updateMoney/@HttpContextAccessor.HttpContext.Session.GetString("id")" class="category-item-link"><i class="fa-solid fa-money-check-dollar"></i> Nạp tiền</a>
                        </li>
                        <li class="category-item  ca  tegory-item-active">
                            <a href="/AccOunt_UpdateInformation/account_UpdateInformation/@HttpContextAccessor.HttpContext.Session.GetString("id")" class="category-item-link"> <i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa thông tin</a>
                        </li>
                        <li class="category-item  ca  tegory-item-active">
                            <a href="/account_UpdatePassword/account_UpdatePassword/@HttpContextAccessor.HttpContext.Session.GetString("id")" class="category-item-link"> <i class="fa-solid fa-key"></i> Thay đổi mật khẩu</a>
                        </li>
                        <li class="category-item  ca  tegory-item-active">
                            <a href="/Order_Show/Order_waitforConfirm" class="category-item-link">  <i class="fa-solid fa-pager"></i> Xem Đơn</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)
