﻿@{
    ViewData["Title"] = "Fruit Wrold";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<!-- Body -->
<div class="app__container">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category-heading">
                        <i class="fa-solid fa-list-ul"></i>
                        Danh Mục
                    </h3>
                    <ul class="category-list">
                        <li class="category-item  category-item-active">

                            <a href="/Home/Index" class="category-item-link"> <i class="fa-solid fa-house"></i> Trang chủ</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/registedtoSellProduct/registedtoSellProduct" class="category-item-link"><i class="fa-brands fa-product-hunt"></i> Đăng ký sản phẩm</a>
                        </li>
                        <li class="category-item">
                            <a href="/Seller_OrderManage/Seller_orderWaitforConfirm" class="category-item-link"><i class="fa-solid fa-square-check"></i> Đơn hàng</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Seller_ProductManage/Seller_ProductNeedConfirm" class="category-item-link"><i class="fa-solid fa-pen-to-square"></i> Danh sách sản phẩm chờ xác nhận</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Seller_ProductManage/Seller_ProductShow" class="category-item-link"><i class="fa-solid fa-pen-to-square"></i> Sản phẩm</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Seller_Statistics/Seller_productSoldAtShop" class="category-item-link"><i class="fa-solid fa-fire-flame-curved"></i> Sản phẩm bán chạy</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Seller_Statistics/Seller_whoBuyAtShop" class="category-item-link"><i class="fa-solid fa-users"></i> khách hàng</a>
                        </li>
                        <li class="category-item  category-item-active">
                            <a href="/Seller_Statistics/Seller_Revenue" class="category-item-link"><i class="fa-solid fa-parachute-box"></i> Doanh thu </a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)
