﻿@model FruitsWorld.Models.Account

@{
    ViewData["Title"] = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/Info_Layout.cshtml";
}

<h1>Chỉnh sửa thông tin</h1>

<h4>@ViewBag.Mess</h4>
<hr />
<div class="row">
    <div class="form-items">
    <div class="col-md-4">
        <form asp-action="account_UpdateInformation" asp-controller="account_UpdateInformation" onsubmit="return checkAllData()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="id_Account" class="control-label"></label>
                <input type="hidden" asp-for="id_Account" class="form-control" />
                <span asp-validation-for="id_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label">Tài khoản</label>
                <input asp-for="username" class="form-control" readonly />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullName" class="control-label">Họ và tên</label>
                <input id="txtFullName" asp-for="fullName" class="form-control" onblur="checkFullname()" />
                <span id="txtFullNameError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birth" class="control-label">Năm Sinh</label>
                <input id="txtBirth" asp-for="birth" class="form-control" onblur="checkBirth()" />
                <span id="txtBirthError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sdt" class="control-label">Số Điện Thoại</label>
                <input id="txtSdt" asp-for="sdt" class="form-control" onblur="checkPhone()" />
                <span id="txtSdtError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label">Địa chỉ</label>
                <input id="txtAddress" asp-for="address" class="form-control" onblur="checkAddress()" />
                <span id="txtAddressError" class="text-danger"></span>
            </div>
             <div class="form-groups">
                <input type="submit" value="Thay Đổi" class="btn btn-primary" />
                <a href="/Account_Information/accountInformation/" class="btn_return">Trở về</a>
            </div>
        </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    var patt_phone = /^0[1-9]\d{8,9}$/;
    var patt_username = /^[a-zA-Z0-9]+$/

        function checkFullname() {
            tk = document.getElementById("txtFullName").value;
            document.getElementById("txtFullNameError").innerHTML = tk.trim() == "" ? "Họ và tên không được để trống!" : "";
            return tk != "" ? true : false;
        }
         function checkBirth() {
            birth = document.getElementById("txtBirth").value;
            if(birth > 1900 && birth < 2023){
                document.getElementById("txtBirthError").innerHTML = "";
                return true;
            }else if(birth.trim()==""){
                document.getElementById("txtBirthError").innerHTML = "Năm sinh không được để trống";
                return false;
            } else{
                document.getElementById("txtBirthError").innerHTML = "Năm sinh phải lớn hơn 1900 và nhỏ hơn 2023!";
                return false;
            }
        }
        function checkAddress() {
            address = document.getElementById("txtAddress").value;
            document.getElementById("txtAddressError").innerHTML = address.trim() == "" ? "Địa chỉ không được để trống!" : "";
            return address != "" ? true : false;
        }
        function checkPhone() {
            phone = document.getElementById("txtSdt").value;
            if(phone.trim() == ""){
                document.getElementById("txtSdtError").innerHTML = "Số điện thoại không được để trống!";
            }else if(patt_phone.test(phone)== false){
                document.getElementById("txtSdtError").innerHTML = "Định dạng số điện thoại không đúng! (bắt đầu từ 0 và phải 10-11 kí tự!)";
            }else{
                document.getElementById("txtSdtError").innerHTML = "";
                return true;
            }
            return false;
        }

        function checkAllData() {
            isValidFullname = checkFullname();
            isvalidBirth = checkBirth();
            isValidPhone = checkPhone();
            isValidAddress = checkAddress();
            isValid = isValidFullname && isvalidBirth && isValidPhone && isValidAddress;
            return isValid;
        }
</script>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
