﻿

@{
    ViewData["Title"] = "Thay đổi ảnh đại diện";
    Layout = "~/Views/Shared/Info_Layout.cshtml";
}

<h1>@ViewBag.test</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="changeAvatar" asp-controller="Account_updateInformation" enctype="multipart/form-data" onsubmit="return checkAllData()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label class="control-label">Avatar</label>
                <input id="txtAvatar" type="file" name="avatar" class="form-control" />
                <span id="txtAvatarError"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thay đổi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

        function checkAvatar() {
            tk = document.getElementById("txtAvatar").value;
            document.getElementById("txtAvatarError").innerHTML = tk.trim() == "" ? "Bạn cần chọn hình ảnh để thay đổi Avatar!" : "";
            return tk != "" ? true : false;
        }
        
       
        function checkAllData() {
            isValidAvatar = checkAvatar();

            isValid = isValidAvatar;
            return isValid;
        }
    </script>


