﻿
.info__shop1 {
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

.search__name {
    margin-left: 10px;
    display: flex;
    padding-top: 24px;
    height: 54px;
}

.search__name-shop {
    font-size: 1.6rem;
    color: rgb(153, 149, 149);
    padding-right: 2px;
    font-weight: 200;
}

.search__name-shop1 {
    font-size: 1.6rem;
    color: rgb(110, 152, 241);
    font-weight: 200;
}

.fa-solid.fa-circle-question {
    color: var(--primary-color);
    padding-right: 5px;
}

.info__shop-body {
    display: flex;
}

.info__shop-address {
    margin-top: 10px;
    margin-left: 10px;
    line-height: 20px;
}

.info__shop-sub {
    display: flex;
    line-height: 28px;
    margin-left: 260px;
    padding-top: 22px;
}

.info__shop-web {
    width: 300px;
}

.info__shop-product {
    border-left: 1px solid rgb(153, 149, 149);
    height: 50px;
}

.info__shop-product1 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 0 20px 0 20px;
}

.info__shop-product2 {
    font-size: 1.5rem;
    color: rgb(153, 149, 149);
    margin: 0 20px 0 20px;
    font-weight: 100;
}

.info__shop-product4 {
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 100;
}

.info__shop-item {
    display: flex;
}

.info__shop-logo {
    height: 100px;
    padding: 10px 10px 10px 10px;
    display: flex;
    width: 320px;
    background-color: rgba(14, 66, 236, 0.692);
    margin-left: 0;
    border-radius: 4px;
}

.info__shop-avata {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    margin-left: 10px;
}

.info__shop-infos {
    font-size: 1.8rem;
    color: var(--white-color);
}

.category-item-prices {
    position: relative;
    margin-left: 20px;
    background-color: rgb(237, 249, 250);
    width: 140px;
    text-align: center;
    animation: fadeIn ease-in 0.2s;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
}

.sort {
    background-color: rgba(144, 176, 224, 0.2);
    height: 50px;
    margin-top: 20px;
}

.sort__title-headding {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.sort__items {
    display: flex;
}

.sort__btn {
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
}

.btn--size-s {
    margin-left: 8px;
}

.sort__title {
    margin-top: 16px;
    padding-left: 10px;
}
