﻿@using FruitsWorld.Models
@model FruitsWorld.Models.Account
@using Fruits_World.Models.DuyenPD.DAO
@using System.Globalization

@{
    ViewData["Title"] = "Kênh";
    Fruits_World.Models.DuyenPD.DAO.FeedbackDAO feedbackDAO = new Fruits_World.Models.DuyenPD.DAO.FeedbackDAO();
    Fruits_World.Models.DuyenPD.DAO.ProductDAO productDAO = new Fruits_World.Models.DuyenPD.DAO.ProductDAO();
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

<!-- infor shop -->
<div class="info__shop1">
    <div class="info__shop-body">
        <div class="info__shop-item">
            <div class="info__shop-logo">
                <img src="@Model.avatar" alt="" class="info__shop-avata">
                <div class="info__shop-address">
                    <div class="info__shop-name">
                        <div class="info__shop-infos">@Model.fullName</div>
                    </div>
                    <div class="info__shop-web">
                        <div class="info__shop-product4">@Model.sdt</div>
                    </div>
                    <div class="info__shop-web">
                        <div class="info__shop-product4">@Model.address</div>
                    </div>
                </div>
            </div>
            <div class="info__shop-sub">
                <div class="info__shop-product">
                    <div class="info__shop-product1"><i class="fa-solid fa-shirt"></i> @productDAO.GetTotalProductsByIDAcc(@Model.id_Account)</div>
                    <div class="info__shop-product2">Sản phẩm</div>
                </div>
                <div class="info__shop-product">
                    <div class="info__shop-product1"><i class="fa-solid fa-star"></i> @ViewBag.TrungBinhSao</div>
                    <div class="info__shop-product2">Đánh giá</div>
                </div>
                <div class="info__shop-product">
                    <div class="info__shop-product1"><i class="fa-solid fa-clock"></i> Trong vài giờ</div>
                    <div class="info__shop-product2">Thời gian phản hồi</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end info shop -->

<div class="sort">
    <div class="sort__items">
        <div class="sort__title">
            <lable class="sort__title-headding">Sắp xếp theo</lable>
        </div>
        <div class="sort__btn">
            @*<button class="btn btn--primary btn--size-s">Liên quan</button>*@
            <a href="/Seller_Shop/Seller_Shop/?id=@Model.id_Account" class="btn  btn--size-s">Mới nhất</a>
            <a href="/Seller_Shop/Seller_Shop/?id=@Model.id_Account&&sortPrice=@ViewBag.sortPrice" class="btn  btn--size-s">Giá</a>
        </div>

        <div class="sort__price">
        </div>
    </div>
</div>

<!-- San pham -->
<div class="home-product home-product-item-wrap">
    <div class="grid__row">
        @{
            var dao = new ProductDAO();
            double? sum = 0;
        }
        @foreach (Product a in ViewBag.listproduct)
        {
            string Price = double.Parse(a.productPrice.ToString()).ToString("#,###", cul.NumberFormat);

            sum = a.productPrice * 1.25;
            <div class="grid__column-2-4">
                <a class="home-product-item" href="/Product_Information/product_Information/@a.id_Product">
                    <div class="home-product-item-img" style="background-image: url(@a.productImage);"></div>
                    <h4 class="home-product-item-name">@a.productName </h4>
                    <div class="home-product-item-price">
                        <span class="home-product-item-price-old">@sum vnd</span>
                        <span class="home-product-item-price-new">@Price VND</span>
                    </div>
                    <div class="home-product-item-origin">
                        <span class="home-product-item-origin-name">Đã bán: @dao.GetNumberOfProductsSold(@a.id_Product)</span>
                    </div>
                </a>
            </div>
        }

    </div>
</div>

<ul class="pagination home-product__pagination">
    @if (ViewBag.Page != 1)
    {
        var left = ViewBag.Page - 1;
        <li class="pagination-item">
            <a href="/Seller_Shop/Seller_Shop?id=@Model.id_Account&&page=@left" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-left">
                </i>
            </a>
        </li>
    }
    @for (var i = ViewBag.Page - 2; i <= ViewBag.endPage && i <= ViewBag.Page + 2; i++)
    {

        {
            i = 1;
        }
        @if (ViewBag.endPage != 1)
        {
            @if (ViewBag.Page == i)
            {
                <li class="pagination-item pagination-item-active">
                    <a style="background-color: #3770d863" class="pagination-item__link">@i</a>
                </li>
            }
            else
            {
                <li class="pagination-item pagination-item-active">
                    <a href="/Seller_Shop/Seller_Shop?id=@Model.id_Account&&page=@i" class="pagination-item__link">@i</a>
                </li>
            }
        }
    }
    @if (ViewBag.Page != ViewBag.endPage && ViewBag.Page < ViewBag.endPage && ViewBag.Page > 0)
    {
        var right = ViewBag.Page + 1;
        <li class="pagination-item">
            <a href="/Seller_Shop/Seller_Shop?id=@Model.id_Account&&page=@right" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-right">
                </i>
            </a>
        </li>
    }
</ul>
