﻿@using FruitsWorld.Models
@using Fruits_World.Models.SonNN.DAO
@model IEnumerable<FruitsWorld.Models.Cart>
@using Microsoft.AspNetCore.Http
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Giỏ hàng";
    CartDAO Cartdao = new CartDAO();
    ProductDAO Productdao = new ProductDAO();
    string? idAcc = HttpContextAccessor.HttpContext.Session.GetString("id");
    List<Account> listName = Cartdao.getAllShopIDForCart(idAcc);
    List<Cart> list = null;
    int? sum = 0;
    int? sumAll = 0;
    double? fakeprice = 0;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
@if (ViewBag.listMessage != null)
{
    <h3>Những Sản Phẩm: </h3>
    @foreach (string a in @ViewBag.listMessage)
    {
        <span style="color:red;font-size:20px;">@a.Trim(), </span>
    }
    <h3> không còn đủ số lượng, Qúy khách có thể chờ người bán thêm sản phẩm hoặc xóa khỏi giỏ hàng.</h3>
}
<h1>@ViewBag.PaySuccess</h1>

@if (listName.Count == 0)
{
    <div class="Cart_product-headding1">
        <div class="no-product-items">
            <img class="no_product" src="https://bizweb.dktcdn.net/100/419/232/themes/809377/assets/empty-cart.png?1646814674272">
        </div>
    </div>
    <div class="no-product-btn">
        <a href="#" class="btn">Mua hàng</a>
    </div>
}
else
{
    <div class="Cart_product">
        <!-- Cart-product -->


    <div class="GioHang">
            @foreach (Account a in listName)
            {
                <div class="Cart_product-headding">
                    <lable class="check_box">

                    </lable>

                    <a href="/Seller_Shop/Seller_Shop/@a.id_Account" class="check_box-sp1">@a.fullName <i class="fa-brands fa-rocketchat"></i></a>
                </div>
                list = Cartdao.getAllCart(@idAcc, @a.id_Account);
                @foreach (Cart cart in list)
                {

                    Product product = Productdao.getProductbyId(cart.id_Product);
                    sum = 0;
                    sum = cart.quantity * product.productPrice;
                    sumAll = sumAll + sum;
                    string Price = double.Parse(product.productPrice.ToString()).ToString("#,###", cul.NumberFormat);
                    string sumPrice = double.Parse(sum.ToString()).ToString("#,###", cul.NumberFormat);
                    fakeprice = product.productPrice * 1.25;
                    string sumfake = double.Parse(fakeprice.ToString()).ToString("#,###", cul.NumberFormat);
                    <div class="Cart_product-list1">
                        <lable class="check_box">

                        </lable>

                        <div class="check_box-sp">
                            <div class="check_info-item">
                                <div class="check_img">
                                    <a href="/Product_Information/product_Information/@product.id_Product" class="check_avata">
                                        <img src="@product.productImage" class="check_avata-product">
                                    </a>
                                </div>
                                <div class="check_info">
                                    <a href="/Product_Information/product_Information/@product.id_Product" class="check_info-title">@product.productName</a>
                                </div>
                            </div>
                        </div>
                        <div class="check_box-dg">
                            <div class="check_dongia">
                                <span class="giacu">@sumfake VND </span>
                                <span style="display: none" class="giamoi">@product.productPrice VND </span>
                                <span class="giamoi1">@Price VND</span>
                            </div>
                        </div>
                        <div class="check_box-sl">
                            <div class="nut_soluong">
                                <input class="nut_dichuyen" id="quantityFruit" name="quantityFruit" style="color: var(--primary-color); text-align: center;" value=@cart.quantity class="form-control" min="0" max=@product.productQuantity placeholder="Nhập số lượng(KG)" type="number" onchange="Update(@idAcc, @product.id_Product,value, @product.productQuantity.ToString())" required>
                            </div>
                        </div>
                        <div style="display:none;" class="check_box-st">@sum VND</div>
                        <div class="check_box-st2">@sumPrice VND</div>
                        <div class="check_box-tt">
                            <button onclick="showMess(@idAcc, @product.id_Product)" class="xoa_sanpham">
                                Xóa
                            </button>
                        </div>
                    </div>


                }


            }
            @{
                string sumAllPrice = double.Parse(sumAll.ToString()).ToString("#,###", cul.NumberFormat);
            }
            <form>
                <!-- cart-footer -->
            <div class="Cart_product-footer">
                    <lable class="check_box">

                    </lable>

                    <div class="check_box-sl">Tổng :</div>
                    <div id="cart-sum" class="check_box-sl">@sumAllPrice VND</div>
                    <div class="check_box-tt">
                        <a href="/Product_CheckOut/checkOut_Show" class="btn">Tiến Hành Đặt hàng</a>
                    </div>
                </div>
            </form>
            <!-- end-footter -->
    </div>

    </div>
}






<script type="text/javascript">
    function showMess(id, idsp) {
        var option = confirm("Bạn có chắc muốn xóa Sản Phẩm này?");
        if (option === true) {
            window.location.href = '/Cart_Manage/DeleteCart/?id='+id+'&idsp='+idsp;
        }

    }

    function Update(idc, idspc, quantity, quantityAll) {
        var buy_quantity = parseInt(quantity);
        var have_quantity = parseInt(quantityAll);
        if(buy_quantity <= have_quantity && buy_quantity > 0){
            $.ajax({
            url: '/Cart_Manage/updateCart/?id='+idc+'&idsp='+idspc+'&quantity='+quantity,

        });
        }
        else if(buy_quantity <= 0 && have_quantity > 0)
        {
            var option = confirm("Bạn có chắc muốn xóa Sản Phẩm này?");
        if (option === true) {
            window.location.href = '/Cart_Manage/DeleteCart/?id='+idc+'&idsp='+idspc;
        }
        else
        {
            window.location.href = '/Cart_Manage/updateCart/?id='+idc+'&idsp='+idspc+'&quantity=1';
        }
        }
        else if(buy_quantity == 0 && have_quantity <=0)
        {
            alert("Sản phẩm này đã hết số lượng!");
            window.location.href = '/Cart_Manage/DeleteCart/?id='+idc+'&idsp='+idspc;
        }
        else
        {
            alert('Sản phẩm này không còn đủ số lượng!');
            window.location.href = '/Cart_Manage/updateCart/?id='+idc+'&idsp='+idspc+'&quantity='+quantityAll;
        }

        handleCost();
    }

    function handleCost(){
        const listItems = document.querySelectorAll('.Cart_product-list1');
        listItems.forEach(function(item){
            const quantity = parseInt(item.querySelector('#quantityFruit').value);
            const cost = parseInt(item.querySelector('.giamoi').innerHTML);
            const total = item.querySelector('.check_box-st');
            const totaltwo = item.querySelector('.check_box-st2');
            var bill = cost * quantity;
            var billtwo = bill.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
            total.innerHTML = bill;
            totaltwo.innerHTML = billtwo;
        })
        const totalElements = document.querySelectorAll('.check_box-st');
        const sumElement = document.querySelector('#cart-sum');
        var sum = 0;
        totalElements.forEach(function(item){
            sum += parseInt(item.innerHTML);
        })
        sum = sum.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
        sumElement.innerHTML = sum;
    }

</script>




