﻿@{
    ViewData["Title"] = "Đặt hàng thành công";
    Layout = "~/Views/Shared/Info_Layout.cshtml";
}



<div class="app__container">
          <div class="grid">
            <div class="grid__row">
                <div class="order">
                   <div class="order__item">
                       <a href="/Cart_Manage/Cart_Show"class="order__item-cart">
                          <div class="order__item-logo"><i class="fa-solid fa-cart-shopping"></i></div>
                          <div class="order__item-text">Giỏ hàng</div>
                       </a>
                       <a href="/Order_Show/Order_waitforConfirm" class="order__item-cart">
                        <div class="order__item-logo"><i class="fa-solid fa-address-book"></i></div>
                        <div class="order__item-text">Thông tin đặt hàng</div>
                    </a>
                    <a class="order__item-cart">
                        <div class="order__item-logo2"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="order__item-text">Hoàn tất</div>                           
                    </a>
                   </div> 
                </div>
    
                <div class="order__body">
                    <div class="order__body-item">
                        <a href=""class="order__body-logo">
                             <div class="order__body-icon"><i class="fa-solid fa-check-to-slot"></i></div>
                        </a>
                        <div class="order__body-success">
                             <div class="order__body-h3">Đặt hàng thành công</div> 
                        </div>
                        <div class="order__body-return">
                            <a href="/FindProduct/Search" class="return_btn"><i class="fa-solid fa-cart-plus"></i> Mua thêm sản phẩm</a>
                            <a href="/Home/Index"class="return_btn"><i class="fa-solid fa-house"></i> Quay lại trang chủ</a>

                        </div>
                        <div class="order__body-feedback">
                            <p class="order__body-text4">Nhân viên của chúng tôi sẽ sớm liên hệ với quý khách trong thời gian sớm nhất.</p>
                            <p class="order__body-text4">Nếu quý khách có thắc mắc, xin vui lòng liên hệ với chúng tôi qua số Hotline.</p>
                            <p class="order__body-text4">Khi đơn hàng đã được xác nhận và nhập kho, mốt số yêu cầu hủy đơn hàng sẽ không thực hiện được</p>
                            <p class="order__body-text4">Xin trân thành cảm ơn khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>  
          </div>
          </div>